<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bezpečnost</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Bezpečnost</h2>
<h4 class="text-center text-black-50 pb-4">“Vypadat dobře, cítit se dobře, a do třetice bezpečnost”</h4>

<div class="px-3">
    <p> Highlining může být velmi bezpečnou cestou do světa extrémních sportů. I tak se ale jedná o
        “nebezpečný” sport a měli bychom k němu tak přistupovat. Kvůli nesprávné odsedce, špatně uvázané
        nebo úplně opomenuté osmičce či chybě v kotvení už skončilo několik životů. <br><br>

        Dle reportů ISA (Mezinárodní slacklinové organizace) se zatím neeviduje smrt způsobená pádem ze skály kvůli absenci
        vlastního jištění (PAS). I tak výrazně doporučujeme při pohybu na skalách využívat dostupného jištění,
        zvážit rizika takového pohybu, své schopnosti a případně se mu zcela vyvarovat.
    </p>
    <p>
        Chyby se stávají a mohou mít fatální následky. Mnohem častější je výskyt (drobných) zranění při
        pádech do odsedky - kdy může dojít ke kontaktu s kovovými kruhy, zamotání části těla do odsedky či
        kontaktu se skálou (pokud jsi blízko ke kotvení).<br><br>
        Více informací o typech úrazů na highline se můžeš dozvědět v
        <a href="https://slacklineinternational.org/wp-content/uploads/2016/11/Accident-and-Injury-Report-2015-Final-EN.pdf"
           target="_blank">reportu ISA</a> (EN).
    </p>
    <br>

    <b>Bezpečnostní tipy:</b>
    <ol class="pt-2">
        <li>Používej <span class="help-text"><img src="/images/material/petzl_adjust.jpg"> PAS (Personal anchor system)</span> - vlastní odsedku / smyci, kdykoliv se pohybuješ v blízkosti
            okraje skály.

        <li>
            <img src="/images/metodika/bezpecnost/bezpecnost_pas_leash.jpg" style="float: right; width: 100%; max-width: 350px" alt="PAS is not Leash">
            Pokud pouze kladečkuješ po lajně, můžeš k jištění použít svojí odsedku (PAS), pokud karabinou
            prochází obě lajny (main i backup).
        </li>
        <li>
            <b class="text-danger">PAS NENAHRAZUJE LEASH!</b> Nikdy nechoď s vlastní odsedkou a karabinou, vždy použij odsedku s kruhy.
            Karabina by se při chůzi mohla otevřít a ty bys zůstal nejištěný.
        </li>
        <li>Při vázání do odsedky se nenech vyrušovat. Zavaž se pořádně, děláš to jen jednou a pro odsedku
            neexistuje backup.

        <li>Zkontroluj kotvení highliny (i když mu dokonale nerozumíš). Zaměř se především na tyto
            body, které zvládne zkontrolovat každý:
            <ul>
                <li>Je kotvení dostatečně podloženo / obandážováno? Netře se lajna o skálu?
                <li>Není na lajně nebo kotvení viditelné poškození?
                <li>Nejsou v systému hliníkové karabiny (obecně se hliníkové karabiny nepovažují za bezpečné, kvůli
                nízké odolnosti vůči cyklickému zatěžování)
                <li>Je odsedka správně přivázaná ke kruhům?
            </ul>
        </li>

        <li>
            <b>Vždy prováděj partner-check!</b>
            Nech si zkontrolovat navázání na sedák. Obráceně zkontroluj kamaráda po jeho navázání.<br>
            <div class="row">
                <div class="col-md-5">
                    <img src="/images/metodika/bezpecnost/bezpecnost_partner_check.jpg" width="100%" alt="Partner check">
                </div>
                <div class="col-md-7 py-2">
                    Zaměř se na těchto 5 bodů:
                    <ul class="pt-1">
                        <li> Má na sobě sedák, je správně dotažený a není překroucený.
                        <li> Odsedka prochází oběma oky sedáku (těmi, kterými prochází i sešitá smyčka sedáku)
                        <li> Osmička je uvázaná k sedáku.
                        <li> Osmička je uvázaná ke kruhům.
                        <li> Nemá na sobě lajner nějaké volné věci (čepice, brýle, náramky) nebo nemá něco v rozepnuté kapse.
                    </ul>
                </div>
            </div>


        <li>Pokud vidíš, že si někdo navazuje odsedku k sedáku, nemluv na něj. Místo toho
            počkej, než se naváže a poté ho zkontroluj. Jedná se o život tvých kamarádů, neriskuj!
        <img src="/images/metodika/bezpecnost/bezpecnost_weather.jpg" style="float: right; width: 100%; max-width: 350px" alt="Bad weather">
        <br><br>
        </li>

        <li>Pokud je špatné počasí, nechoď na lajnu. Lajna může být poškozena bleskem nebo se při vysokém větru
            a klepání můžeš uvolnit ze sedáku (povolením nebo úplným rozepnutím přezky na sedáku).

        <li>Ze sedáku není možné vypadnout, a to i když visíš hlavou dolů (pokud je sedák upevněný správně). Správně
            upevněný sedák by měl mít vůli maximálně na velikost pěsti. Pokud je ve smyčce sedáku více prostoru,
            je příliš volný.
        </li>
        <li>Zkontroluj si kapsy a další volné věci na sobě, abys na highlině nic neupustil. Padající věci mohou
            zranit lidi pod tebou.

        <li>Osmičkový uzel si uvaž co nejblíže k oku sedáku. V uzlu nesmí být mezery, do kterých by se ti při
            padání mohl zachytit prst nebo část ruky.

        <li>Nesnaž se při pádu chytit odsedky. Pokud se ti odsedka zamotá kolem ruky nebo prstů, může dojít ke
            zranění.

        <li>Nechytej a nezvedej svou váhu v koleni, lokti nebo ramenní oblasti. Můžeš si způsobit poškození
            nervů. Vždy použij oblast s vyšší koncentrací svalů.

        <li>
            Vyhni se na highlině místům, kde není bezpečné padat. Překladečkuj nebo se přešoupej za tyto části.
            <img src="/images/metodika/bezpecnost/bezpecnost_nofall.jpg" style="width: 100%">
        </li>

        <li>Buď opatrný při pokládání ruky přes lajnu při kladečkování, měkká kůže u bicepsu se ti lehce může skřípnout mezi
            kladečku a lajnu.

        <li>Při kladečkování dávej pozor na to, aby se ti do kladečky nezasekly vlasy / vousy. Mysli na to, kde je máš.

        <li>Kontroluj rychlost kladečkování, přílišná rychlost může vygenerovat teplo / poškodit lajnu.

        <li>Pokud je někdo v bezvědomí v sedáku, může zemřít během chvilky, obzvláště pokud visí hlavou dolů,
            jeho krev nemůže správně proudit tělem. Smrt může nastat do několika minut, proto je nezbytné
            zraněného uvést do vodorovné polohy a zachránit z lajny co nejdříve!
    </ol>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/priprava" class="btn btn-primary">Zpět na: Příprava</a>
        </div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/vybaveni" class="btn btn-primary">Pokračuj na: Vybavení</a>
        </div>
    </div>

</div>
