<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Co dělat na highline?</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Co dělat na highline?</h2>
<h4 class="text-center text-black-50 pb-4">“Tep se zvyšuje a ty přicházíš na řadu”</h4>

<div class="px-3">
    <p>
        Pojďme se podívát na to, co tě asi zajímá nejvíc. Jak se proboha dostanu zpátky nahoru,
        když spadnu, jak si stoupnu uprostřed highliny, a kde mít odsedku při chůzi?
        Na <a href="https://www.youtube.com/watch?v=memTvocWHJM" target="_blank">tomto videu</a> (EN) se semůžeš podívat i na to,
        jak chytat lajnu při pádu a proč to může být nebezpečné!
    </p>

    <b>Tipy na highlinu:</b>
    <ol class="pt-2">
        <li>Cvakni svou odsedku (PAS) do pevného bodu u kotvení, pokud se pohybuješ / navazuješ blízko okraje skály.
            <img src="/images/metodika/pouzivani-hl/highline_figure8.jpg" class="float-end me-2" style="width: 100%; max-width: 300px">

        <li>Navaž se na odsedku (Leash). Udělěj osmičkový uzel přibližně ve 2 třetinách, protáhni konec oběma
            oky sedáku a poté sleduj pramen lana zpět, dokud nebudeš mít 2 rovnoběžné prameny v každé části uzlu.

        <li>Uzel na sedáku dokonči pojišťovacím uzlem, nebo si zastrč přebývající lano do sedáku či spodní díry
            v osmičkovém uzlu. Dej si však pozor, abys nevytvořil smyčku, do které by se ti zachytily prsty.

        <li><b>Požádej kamarády o partner-check</b>. Nechoď na lajnu bez dvojí kontroly!

        <li>Když jsi navázaný v odsedce (Leash), můžeš si svou osobní odsedku (PAS) odcvaknout. Můžeš ji buď nechat u kotvení, nebo si ji uvázat kolem pasu a
            cvaknout do bočního poutka sedáku - tak ji budeš mít vždy k dispozici, kdybys byla potřeboval. Příliš ji neutahuj, ale neměj ji ani moc povolenou.

        <li>Postavit na highline se můžeš několika způsoby. Všechny vyžadují dostat nohu / nohy pod zadek, poté
            přesunou váhu na nohy a postavit se. Rukama se můžeš přidržet lajny, nebo s nimi vyvyžovat, v
            závislosti na metodě vstávání.

        <li>Odsedku (Leash) při vstávání můžeš mít buď před sebou nebo za sebou. Jen si dej pozor, aby se ti do
            ní nezamotala noha při vstávání. Rozhodni se dle metody vstávání.
            <br>
            <img src="/images/metodika/pouzivani-hl/highline_knot.jpg" class="float-start me-5" style="width: 100%; max-width: 300px">
            <br>
        <li>Při vstávání metodou “Chongo” začínáš v sedu na jedné noze s kolenem ohlým pod velmi ostrým úhlem,
            což může poškodit vazy v koleni. Buď opatrný, abys to nepřeháněl, obzvláště v začátcích, kdy vazy
            nejsou zpevněné.

        <li class="mt-3">Pokud se ti při chůzi zasekne odsedka, sáhni pro ní rukou mezi nohy a zatřes s ní.
        <div class="clearfix"></div>
        <li>Při chůzi bys měl mít odsedku mezi nohama. Pokud ji budeš mít na straně, může být pád na tuhle
            stranu dost nepříjemný.

        <li>Nepadej nohama napřed a nechytej odsedku.

        <li>Chytání lajny při pádu může způsobit poranění ruky, prstů nebo loketní kloubu, avšak výrazně šetří
            energii, jelikož nemusíš vylézat z odsedky zpět na lajnu.

        <li>K posazení se na lajnu z pozice ve stoje, udělej dřep a snaž se být co nejrovněji bez předklonu.
            Rukou sáhni po lajně a posaď se. Buď opatrný, aby lajna nevystřelila a nezranila ti zápěstí.

        <li>Otočíš se tak, že přehodíš jednu nohu přes lajnu tak, abys měl obě na jedné straně, poté přehoď
            druhou nohu přes lajnu. Celou dobu drž pas nad lajnou, otáčet se dá i tak, že slezeš pod lajnu, otočíš se
            a vylezeš znovu, ale tato metoda může být poměrně vyčerpávající.

        <li>Mít kladečku na odsedce / smyci je sice pohodlné, ale na delších lajnách je efektivnější, pokud máš
            kladečku přímo v jistícím oku sedáku.

        <li>Když kladečkuješ po lajně, vždy buď hlavou natočený k bližšímu kotvení.

        <li>Kladečkování měj vždy pod kontrolou, obzvláště na lajnách s velkým průvěsem. Nerozjížděj se velkou
            rychlostí, můžeš si při pokusu o zastavení spálit ruce.

        <li>Překladečkovat přes překážku můžeš přehozením kotníku / lýtka přes lajnu a nadzvednutí zadku. Jednou rukou se
            drž lajny a volnou rukou posuň kladečku přes překroucený backup nebo spoj lajny.

        <li>Odpočívat při kladečkování na lajně můžeš otočením rolexu / hangoveru o 180°, tak že ložisko budeš
            mít na centrálním oku sedáku.

        <li>Odcvakni si kladečku z lajny, když odcházíš, aby tě netáhla při vystupování.

        <li>Občas může být náročné dokladečkovat posledních pár metrů highliny. Můžeš se vyhoupnout na lajnu a
            ke kraji se dostrkat, je jednodušší, než do příkrého kopce kladečkovat.

        <li>K šoupání se po lajně dej jednu ruku před sebe a druhou za sebe, zatlač do rukou a posuň zadek po
            lajně. Nacvič si toto v parku, abys nebyl na highlině překvapený.

        <li>Udrž si pozitivní myšlení a měj cíle. Nenech se odradit, pokud to bude na začátku moc těžké nebo se
            budeš bát. Tvoje chvíle přijde!.
    </ol>


    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/etika" class="btn btn-primary">Zpět na: Etika</a>
        </div>
    </div>

</div>

