<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Etika</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Etika</h2>
<h4 class="text-center text-black-50 pb-4">“Nebuď ten, na koho se ukazuje”</h4>
<div class="px-3">
    <p> Ne každá chyba tě bude stát život, ale některé tě mohou stát kamarády.
        Nauč se, jak zacházet s materiálem ostatních, jak uvázat odsedku, pokud ji už nebudeš
        používat a zjisti, co od tebe ostatní highlineři očekávají, když se účastníš highlinové akce v
        krátkém shrnutí etiky.
    </p>

    <b>Jak neztratit kamarády:</b>
    <ol class="pt-2">
        <li>Nestoupej na věci ostatních (dokud nejdeš po highlině). Pokud šlápneš na materiál, který leží na
        zemi, můžeš ho nenávratně poškodit.

        <li>Pokud se odvážeš z odsedky (po svém čase na highlině), uvaž ji ke kotvení (spansetu, šeklu…). V
            opačném případě může odsedka sjet doprostřed lajny, což ti na popularitě nepřidá.
        </li>
        <li>
            Pokud si půjčíš kladečku (rolex, hangover...) <b>VRAŤ JI co nejdříve</b>. Nejedná se o levnou srandu.
        </li>

        <li>
            Některé kladečky (hangover) mají mezi ložiskami mezery. Buď opatrný, aby se do mezer nedostal
            kus lajny - může ji to poškodit. U rolexu, který je nejrozšířenější v našich oblastech tento problém nehrozí.
        </li>
        <li>Pokud manipuluješ s uzlem (ať už na kotvení, nebo na odsedce) přesvědč se, že je 100% dovázaný.

        <li><b class="text-danger">Zjisti si pravidla pro tahání v dané oblasti!</b> V ČR máme několik oblastí, kde je tahání highline
            úplně zakázáno, nebo má svá pravidla. Jedná se především o pískovcové skály a oblastí NP a CHKO, kde
            může být omezený pohyb mimo cesty. Výslovný zákaz tahání highline je např. v oblastech Jizerskohorských bučin (UNESCO) a Labského údolí.
            <br><br>
            <img src="/images/metodika/etika/etika_hangover.jpg" class="p-4 me-4 float-start" style="width: 100%; max-width: 220px;">
        </li>
        <li>
        Nenechávej po sobě stopy. Naše highlinové spoty bychom si měli hlídat, ideálně je nechávat ještě v
        lepším stavu, než když jsme přišli. Posbírej odpadky v okolí, i když nejsou po tobě.

        <li>Buď ohleduplný k ostatním v přírodě, ať už se jedná o lezce, lajnery, turisty tak hlavně i zvěř.
        Nechovej se hlučně, nepouštěj nahlas hudbu v místech, kde by to mohlo někoho
        rušit a nerozdělávej oheň na místech, kde to není povolené.

        <li>Každý by měl něčím přispět. Ať už materiálem, pomocí při napínání nebo například odnesením věcí od
        auta. Pokud nemáš zkušenosti s napínáním, to je v pořádku, můžeš ostatním přinést jídlo, udělat jim
        fotky nebo přinést do komunity nový sport. Najdi si způsob, jak přispět do komunity.

        <li>Vystupuj slušně, obzvláště, pokud je kolem hodně lidí. Je rozdíl být s přáteli v přírodě a být
        například na festivalu na hradu Trosky, kde kolem chodí “civilisté”. Slackline je stále nový a
        mnohými různě přijímaný sport, pojďme mu udělat dobré světlo!

        <li>Respektuj, kolik práce dá zorganizovat tahání highline, obzvláště, pokud je skombinované s lezením.
        Snaž se osobě, která akci organizuje, pomoci jak jen to půjde. Nechovej se jako turista na výletě!
    </ol>

    <div class="clearfix"></div>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/vybaveni" class="btn btn-primary">Zpět na: Vybavení</a>
        </div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/co-delat-na-hl" class="btn btn-primary">Pokračuj na: Co dělat na Highline</a>
        </div>
    </div>
</div>
