<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Příprava</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Příprava na Highline</h2>
<h4 class="text-center text-black-50 pb-4">“Vše, co jde, si nacvič doma.”</h4>

<div class="px-3">
    <p>
        Chystáš se na highline festival, nebo jsi pozvaný na projekt? Pak určitě nechceš strávit tu vzácnou příležitost
        zkoušením a vymýšlením věcí, které sis mohl nacvičit doma / v parku.  Ověř si, zda máš potřebné vybavení, zda víš jak
        toto vybavení používat a že na lajnu zvládneš vylézt z odsedky.
        <br><br>
        Než se na highline dostaneš k chození, zabere to nějaký čas. “Nováčci” často spotřebují mnoho energie už při
        vylézání na lajnu, což jim pak ztěžuje (a zkracuje) pobyt na highline.
    </p>
    <br>

    <b>Tipy na přípravu:</b>
    <ol class="pt-2">
        <li>
            <img src="/images/metodika/priprava/priprava_leashfall.jpg"  class="float-end w-50" alt="Leashfall in park">
            Poznej svůj sedák:<br>
            Jak ho správně nasadit?<br>
            Jak moc utažený musí být?<br>
            Jak ho správně zajistit (některé sedáky mají pojistku, jiné se protahují 2x…)
        </li>
        <li>Nacvič si vázání osmičky na sedák předtím, než půjdeš poprvé na highline.</li>
        <li>
            <b class="text-danger">NEZKOUŠEJ CHODIT V PARKU S ODSEDKOU!</b><br>
                        V parku skáčeš z lajny nohama napřed, narozdíl od highline,
                        kde padáš hlavou napřed. Při pádu v parku by se odsedka (leash) mohla zamotat mezi nohy a ty bys pak
                        padal hlavou dolů.

        </li>
        <li>Vylézání z odsedky (leash) si můžeš vyzkoušet na lajně v parku. Dej si ale pozor, aby lajna byla dostatečně
            vysoká (nejlépe v úrovni hlavy). Případně můžeš odsedku uvázat kolem dostatečně tlusté větve nebo hrazdy.
        </li>
        <li>Z odsedky (leash) vylezeš tak, že se pověsíš hlavou dolů, poté přehodíš nohu (chodidlo, lýtko nebo
            stehno) přes odsedku. Tím ji o kousek zkrátíš a poté bys měl bez problémů dosáhnout na lajnu.
        </li>
        <li>Nasednutí na lajnu (z pozice, kdy visíš pod lajnou do pozice v sedě na lajně) nacvičuj na lajně, která je
            dostatečně vysoko, takže se zády nebudeš dotýkat země, když se pověsíš na natažených rukách.
            <br>
            Použij nohu k vyvažování, švihem nohy dostaneš dostatečnou kinetickou energii, aby ses převalil na lajnu.<br>
            Víc se můžeš dozvědět z
            <a href="https://www.youtube.com/watch?v=3xaBSEH7V5g" target="_blank">následujícího videa</a> (EN).
        </li>
        <li>
            <div class="row">
                <div class="col-md-7">
                    Nacvičuj si “kladečkování” na lajně v parku, která je dostatečně vysoko. Tak, aby jsi zadkem nedrhl o zem.
                    Nestoupej si na lajnách, které jsou výš, než odkud zvládneš bezpečně seskočit.<br><br>

                    <b>Tipy pro kladečkování:</b>

                    <ul>
                        <li>Zkus si překladečkovat od jednoho kotvení ke druhému, zvykni si na pohyby, které u toho děláš.
                        <li><b>Opatrně</b> vyzkoušej, co se stane, když se v sedáku trochu pootočíš a kladečka se začně příčit a třít okraje lajny.
                        <li>Nacvič si cvákání / vycvakávání kladečky v pozici, kdy visíš pod lajnou.
                        <li>Na kladečku si můžeš přidělat lezeckou smyčku / provázek a přivázat si jí k sedáku. Kdybys jí pak na highlině pustil,
                            nespadne na zem a nikoho nezraní.
                    </ul>
                    <br>
                </div>
                <div class="col-md-5">
                    <img src="/images/metodika/priprava/priprava_high_enough.jpg" width="100%" alt="Leashfall in park">
                </div>
            </div>
        </li>
        <li>Cvič chození v parku, avšak nesoustřeď se jen na napnuté lajny. Procvičuj povolenější lajny a
            rodea, jelikož většina highline bude mít mnohem menší tah, než na jaký jsi zvyklý u lajny v parku.

        <li>Padání na highlině <b>NELZE</b> v parku natrénovat. Při pádu na highlině musíš padat hlavou dolů a udělat
                otočku, aby ses nezamotal do odsedky. Pro natrénování pádů doporučujeme visualizaci pohybu a
                sledování highline videí (kterých na tuto problematiku je několik). Také může pomoc napnout si
                lajnu nad vodou, kde je dostatečná hloubka pro pád hlavou dolů.
                <br><br>
                Videa o padání (EN):<br>
        <a href="https://www.youtube.com/watch?v=tG9czDk1zDQ" target="_blank">
            Highline Leashes 103 - Walking and Whipping
        </a><br>
        <a href="https://www.youtube.com/watch?v=kQsrpDnOuKU" target="_blank">
            Slackline-Tutorial: How to take nice Leashfalls on Highlines
        </a>

        <li>Připrav si batoh:<br>
            Budeš potřebovat přibližně 2 litry vody (při horkých letních dnech i 4 litry)<br>
            Vem si něco dobrého k jídlu. Jakmile je tělo zaplaveno adrenalinem, nebudeš mít moc chuť k jídlu.<br>
            Může se ti hodit také opalovací krém, repelent, toaletní papír, foťák a něco, čím přispěješ
            komunitě.<br>
            Nech si prostor! Měj ve svém batohu volné místo na pomoc ostatním s materiálem.<br>
    </ol>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3"></div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/bezpecnost" class="btn btn-primary">Pokračuj na: Bezpečnost</a>
        </div>
    </div>

</div>