<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Slovníček</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Slovníček pojmů</h2>

<div class="px-3">
    <p>
        Slacklineři / Highlineři mají své vlastní lingo. Pokud chceš zapadnout, je dobré rozumět pojmům, které při
        konverzaci používáme. Jelikož velká část materiálů o highline vzniká v angličtině, přidáváme k pojmům anglické ekvivalenty.
        Snažil jsem se, aby byl překlad co nejvýstižnější. Jakkoliv je český jazyk rozmanitý, některé pojmy nemají doslovný český překlad.
        <br><br>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2">
                <div class="float-end en"></div>
                <span>Webbing</span>
            </div>
            <div class="col-2"> <div class="float-end cz"></div>Lajna, popruh</div>
            <div class="col-8">
                Obecné označní pro popruh - tedy slackline.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"><div class="float-end en"></div>Main (webbing)</div>
            <div class="col-2"><div class="float-end cz"></div>Hlavní lajna</div>
            <div class="col-8">
                Hlavní popruh, tedy ten, po kterém se na highlině chodí.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"><div class="float-end en"></div>Backup (webbing)</div>
            <div class="col-2"><div class="float-end cz"></div>Backup</div>
            <div class="col-8">
                Vedlejší popruh, většinou spojený s hlavní lajnou tejpou nebo provázkem, slouží k
                zachycení pádu v případě selhání hlavní lajny.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"><div class="float-end en"></div>Rodeo</div>
            <div class="col-2"><div class="float-end cz"></div>Rodeo</div>
            <div class="col-8">
                Povolená lajna s velkým průvěsem.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Ring(s)</div>
            <div class="col-2"> <div class="float-end cz"></div>Kruh(y)</div>
            <div class="col-8">
                Kovové kruhy (většinou z hliníku, oceli nebo titanu), kterými prochází popruh (main i backup zároveň).
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Leash</div>
            <div class="col-2"> <div class="float-end cz"></div>Odsedka</div>
            <div class="col-8">
                Odsedka, která je přivázána ke kruhům. Slouží k zachycení lajnera při pádu.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>PAS, Personal anchor system</div>
            <div class="col-2"> <div class="float-end cz"></div>Odsedka</div>
            <div class="col-8">
                Systém osobní ochrany, může být ve formě, smyce, daisy chainu, lana…
                slouží k ochraně před pádem při manipulaci s lajnou / kotvením.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Lineslide</div>
            <div class="col-2"> <div class="float-end cz"></div>Kladečka</div>
            <div class="col-8">
                Kladečka (např. rolex nebo hangover), slouží k popojíždění po lajně.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Partner-check</div>
            <div class="col-2"> <div class="float-end cz"></div></div>
            <div class="col-8">
                Kontrola od jiné osoby po navázání odsedky k sedáku. Slouží k odhalení případnách chyb v uvázání.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Whip, Whipper</div>
            <div class="col-2"> <div class="float-end cz"></div>Pád</div>
            <div class="col-8">
                Pád z highliny a následné zachycení odsedkou.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Catch</div>
            <div class="col-2"> <div class="float-end cz"></div>Čapnutí, chycení</div>
            <div class="col-8">
                Zachycení se lajny při pádu.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Cross a line</div>
            <div class="col-2"> <div class="float-end cz"></div>Přejít lajnu</div>
            <div class="col-8">
                Překonání celé délky lajny (tam, kde je to bezpečné) s pády, avšak chůzí (tzn. vstanu tam, kde jsem spadl).
            </div>
            <div class="col-12"><img src="/images/metodika/slovnik/slovnik_cross.png" class="float-end me-5 w-50"> </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Send a line, Half man</div>
            <div class="col-2"> <div class="float-end cz"></div>Poslat lajnu</div>
            <div class="col-8">
                Pojmem "poslat lajnu" je myšleno přejití celé délky lajny (tam, kde je to bezpečné) bez pádu.
            </div>
            <div class="col-12"><img src="/images/metodika/slovnik/slovnik_halfman.png" class="float-end me-5 w-50"> </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Full man, FM</div>
            <div class="col-2"> <div class="float-end cz"></div></div>
            <div class="col-8">
                Přejití celé délky lajny (tam, kde je to bezpečné) oběma směry (tam i zpět) bez pádu.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>On Sight, OS</div>
            <div class="col-2"> <div class="float-end cz"></div></div>
            <div class="col-8">
                Přejití celé délky lajny bez pádu na první pokus.
            </div>
            <div class="col-12"><img src="/images/metodika/slovnik/slovnik_os.png" class="float-end me-5 w-50"> </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Exposure</div>
            <div class="col-2"> <div class="float-end cz"></div>Expozice</div>
            <div class="col-8">
                Natočení se kolmo k lajně a pozorování expozice.
            </div>
            <div class="col-12"><img src="/images/metodika/slovnik/slovnik_exposure.png" class="float-end me-5 w-50"> </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Direct exposure</div>
            <div class="col-2"> <div class="float-end cz"></div>Přímá expozice</div>
            <div class="col-8">
                Vzdálenost mezí zemí a highlinerem.
            </div>
        </div>
        <div class="row border-bottom pb-1 pt-1">
            <div class="col-2"> <div class="float-end en"></div>Perceived exposure</div>
            <div class="col-2"> <div class="float-end cz"></div>Pocitová expozice</div>
            <div class="col-8">
                Jak vysoko se cítíš v závislosti na pohledu do okolí.
            </div>
            <div class="col-8 offset-4"><img src="/images/metodika/slovnik/slovnik_direct_exposure.png" class="float-end me-5 w-50"> </div>
        </div>
    </p>

</div>