<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/pouzivani-highline">Používání highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vybavení</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Vybavení</h2>
<h4 class="text-center text-black-50 pb-4">“Tvoje vybavení je dostatečně bezpečné... dokud něco neposereš”</h4>

<div class="px-3">
    <p>
        Víš, jak dlouhou bys měl mít odsedku, co to vůbec odsedka je a jak funguje?
        Jak používat kladečku a kam si ji dát, když ji zrovna nepotřebuješ? Je důležité, abys věcem, které na highlině použiváš, a se kterými tam přijdeš do kontaktu, rozuměl.
    </p>
    <br>

    <b>Tipy na manipulaci s vybavením:</b>

    <ol class="pt-2">
        <li>Když je člověk ve velkém stresu, zvládá pouze podvědomé akce. Nečekej tedy, že se naučíš jak věci
            fungují ve chvíli, kdy budeš viset na highlině. Zjisti, jak používat své (i cizí) vybavení <b>PŘED</b> tím, než půjdeš na highlinu.

        <li>
            <img src="/images/metodika/vybaveni/vybaveni_loop.jpg" style="float: right; width: 100%; max-width: 300px">
            Jaký typ sedáku máš? Pokud je přezka vidět celá, je potřeba uvázání pojistit. Pokud je vidět jen
            půlka ve tvaru C, je samozamykací.
        </li>

        <li><b class="text-danger">Nenavazuj si odsedku (leash) do jistícího oka sedáku.</b><br>
            Nemá takovou pevnost, není redundantní a je zde velká možnost pohybu odsedky a vzniku tření, které může poškodit sedák / odsedku.

        <li>Odsedku si protahuj oběma oky (u bederního pásu a nohaviček) - ty samé, kterými prochází centrální
            oko sedáku.

        </li>

        <li>Karabiny (a rolex / hangover) si cvakej do centrálního oka sedáku. Pokud bys karabiny cvakl do obou ok, jako odsedku,
            příčně se zatíží.

        <li>Uvaž si osmičkový uzel co nejblíž k sedáku.

        <li>Než si začneš navazovat odsedku k sedáku, uprav si její délku. Pokud bude odsedka moc krátká,
            nedovolí ti se narovnat. S moc dlouhou odsedkou zase riskuješ zachycení ruky nebo nohy a je náročnější se
            z ní dostat zpět na lajnu. Najdi si optimální délku, co ti bude vyhovovat.
            <br><br>
            Doporučovaná délka je o pár centimetrů více, než je délka nohy od chodidla k centrálnímu oku.

        <li>Pokud máš kladečku připevněnou k jistícímu oku sedáku smyčkou, můžeš si ji cvaknout do bočního oka
            sedáku. Pokud ji připevněnou nemáš, cvakni si ji do 2 bočních ok, abys zamezil jejímu pohybu.

        <li>Když se cvakáš do kladečky, zkontroluj si, že je lajna pod ložiskami rovně, že leží na vrchní straně
            lajny a backup je také procvaklý kladečkou.

        <li>Na lajnu můžeš vylézt i bez toho, abys odcvakl kladečku. Odcvaknout se můžeš i poté z pozice, kdy
            sedíš na lajně.

        <li>Pokud nosíš čepici, přivaž si ji k sedáku.
    </ol>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/bezpecnost" class="btn btn-primary">Zpět na: Bezpečnost</a>
        </div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/etika" class="btn btn-primary">Pokračuj na: Etika</a>
        </div>
    </div>

</div>
