<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item active" aria-current="page">ISA - Záchrana ke kotvení</li>
    </ol>
</nav>


<div class="px-3">
    <div class="container">
        <div class="col-md-8 offset-md-2 col-12 offset-o">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <img src="/images/logo/logo_isa.png" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 position-relative">
                        <div class="line"></div>
                        <div class="triangle"></div>
                    </div>
                </div>
                <div class="row">
                    <h2 class="mb-5"><b>Záchrana z highline</b> – Vytažení ke kotvení</h2>
                    <br><br>
                    <h3 class="mt-5 mb-3">POZOR</h3>
                    <b>
                        Highlining je ze své podstaty nebezpečná činnost, která může vést ke zranění a/nebo
                        smrti. Tento dokument slouží pouze jako pomůcka a v žádném případě nemůže nahradit
                        výcvik k použití zařízení, pravidla tahání a odpovídající přípravu a nácvik postupu,
                        kterým je třeba se řídit v případě nehody.
                    </b>
                    <div class="danger-div mt-5">
                        <ul>
                            <li><b>Bezpečí zachránce je vždy na prvním místě!</b></li>
                            <li>Než se pustíš do záchrany, zamysli se nad riziky, které tě obklopují.</li>
                            <li>Ujisti se, že je veškeré vybavení bezpečné.</li>
                            <li>Pokud je to možné, použij předem připravené vybavení určené k záchraně.</li>
                            <li>Domluvte se na nejrychlejším postupu záchrany pro danou situaci.</li>
                            <li>Udržujte verbální kontakt s highlinerem pro udržení přehled o jeho stavu. Rozhodněte se,
                            zda je třeba zavolat záchrannou službu; v případě bezvědomí vždy volejte záchrannou
                            službu.</li>
                        </ul>
                    </div>
                    <h3>Cíle</h3>
                    <div class="mt-1 mb-2">
                        Poskytnutí informací profesionálním záchranným složkám k provedení nejrychlejší záchrany
                        highlinera, který není schopný dostat se ke kotvení a prevence trauma z visu.
                    </div>
                    <div class="mt-1 mb-2">
                        Sdílet jednoduché, bezpečné a ověřené metody záchrany za použití specializovaného
                        záchranného vybavení
                    </div>
                    <div class="mt-1 mb-2">
                        Zvýšit povědomí v komunitě o nutnosti přípravy takového vybavení před akcí a důležitost
                        nácviku záchranných praktik.
                    </div>
                    <h3> Vytažení ke kotvení</h3>
                    <div class="danger-div mb-2">
                        <b>Na kratších highlinách bez spojů může být rychlejší připevnit k záchrannému
                        kladkostroji odsedku a přitáhnout lajnera bez nutnosti jeho nadzvednutí z odsedky</b>
                    </div>

                    <img src="/images/zachrana/isa.jpg" class="p-0">

                    <div class="container">
                        <div class="row mt-2 mb-4">
                            <div class="col-6"><b>1.</b> Přivaž zraněného na lano. </div>
                            <div class="col-6"><b>2.</b> Aby kladka při zvedání zraněného zůstala na místě, zajisti ji pomocí linegripu nebo prusíku.</div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6"><b>3.</b> Zatáhněte za lano u kotvení, dokud nebude zraněný viset celou vahou v záchranné kladce.</div>
                            <div class="col-6"><b>4.</b> Sundej linegrip / prusík z kladky.</div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6"><b>5.</b> Vytáhněte zachránce i zraněného ke kotvení.</div>
                            <div class="col-6"><b>6.</b> U kotvení připevni kladkostroj do centrálního oka sedáku zraněného a přesuňte ho ke kotvení.</div>
                        </div>
                        <div class="row">
                            <div class="col-6"><b>7.</b> Ověř, že je zraněný zajištěný ke kotvení. Poté odřízni odsedku!</div>
                            <div class="col-6"><b>8.</b> Doprav zraněného na pevnou zem a zajisti ho.</div>
                        </div>
                    </div>

                    <h3 class="mt-3">Potřebné vybavení</h3>
                    <div class="row pb-2">
                        <div class="col-6"><span class="me-2">●</span> Záchranná kladka / rolex / hangover</div>
                        <div class="col-6"><span class="me-2">●</span> Kladkostroj / Dostatek lidí k tahání</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-6"><span class="me-2">●</span> Statické lano / Repka / Lajna</div>
                        <div class="col-6"><span class="me-2">●</span> 5 karabin</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-6"><span class="me-2">●</span> Linegrip / Smyčka na prusík</div>
                        <div class="col-6"><span class="me-2">●</span> Nůž / Tenký provaz</div>
                    </div>
                    <div class="row">
                        <div class="col-6"><span class="me-2">●</span> Grigri / Kladka s brzdou / Kotvítko </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-3">
                            <img src="/images/zachrana/material.jpg" class="w-100">
                        </div>
                    </div>
                    <i>Založeno na “Technique d’evacuation laterale“ (FR) - Highline Rescue Experience [April 2016]</i>

                </div>
            </div>
        </div>
    </div>
</div>
