<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">A Frames</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">A Frames</h2>
<h4 class="text-center text-black-50 pb-4">“Občes je třeba trochu zvednout úroveň”</h4>
<div class="px-3">
    <p class="text-center">
        A Frame, "Áčko", kozy... všechny tyto názvy označují jednu a tu samou konstrukci,
        která se používá ke zvednutí master pointu do výšky. Ironicky většina z nich nemá tvar A, ale spíš X, T nebo pyramidy.
        2KM highline v lomu v Kanadě byla zvednuta do výšky jen jednou tyčí - byť obří - které se říká monopod.
        Ty, které tvarem vypadají jako A, ale místo umístění kotvení na vrchol konstrukce, visí toto kotvení za lana uprostřed konstrukce,
        se nazývají závěsné.
    </p>
    <br><br>
    <b>K čemu je A Frame?</b>
    <p>
        Proč vlastně potřebujeme zvedat kotvení? A Frame můžeme použít k prevenci odírání materiálu o zem,
        vyrovnání výškového rozdílu mezi 2 stranami kotvení a k stabilizaci master pointu. Když máš master point ve výšce,
        nalézání a slézání z takové lajny je mnohem jednodušší a také může usnadnit případnou záchranu.
        <br><br>
        Ne vždy k dosažení výše popsaného efektu potřebuješ obří konstrukce, občas stačí kotvení podložit např. batohem (ideálně nějaký odolný tahačák).
        Do batohu je také dobré umístit např. lano nebo hlínu/písek. Kus klády nebo kámen může posloužit stejně, dej však pozor,
        abys ho dostatečně zajistil, aby nespadl z okraje skály a někoho nezranil.
    </p>
    <div class="row">
        <div class="col-md-7">
            <b>Bandáže</b>
            <p>
                Pokud tvůj A Frame brání prodření a z ničeho nic selže, tvé kotvení či lajna se může velmi rychle přeříznout.
                Mysli tedy vždy i na případ selhání a obandážuj místa, která by se v takovém případě dotýkala ostrých hran nebo se třela o skálu.
                <br><br>
                <b class="text-danger">Lajna by nikdy neměla přijít do přímého kontaktu s konstrukcí.</b>
            </p>
            <b>Přírodní A Frame</b>
            <p>
                Ne vždy ke zvednutí master pointu potřebuješ na místo tahat dřevěnou konstrukci.
                Například namísto přímého kotvení za kámen můžeš zakotvit za ním a poté vytáhnout master point na tento kámen a tím ho zvednout.
                Můžeš vzít 2 větve (ověř si, že jsou opravdu pevné) a svázat je kusem lana či parakordem do tvaru X.
                Další možností je použít strom ve tvaru Y, za který nechceš kotvit, ale dostatečně pevný, aby zvedl tvé kotvení do vzduchu.
            </p>
        </div>
        <div class="col-md-5">
            <img src="/images/metodika/aframes/aframe_padding.png" class="w-100">
        </div>

        <br><br>
        <div class="row align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-3">
                <img src="/images/metodika/aframes/aframe_t.jpg" class="w-100">
            </div>
            <div class="col-md-9">
                <b>Inverzní stabilizace</b><br>
                Občas nechceš master point zvedat do výšky, ale místo toho ho vyvést na stranu nebo stáhnout k zemi.
                To může být obzvláště užitečné, pokud je kotvení daleko nebo mimo směr od místa, kde chceš mít master point.
                Také může přispět k lepšímu rozložení sil mezi kotvící body, pokud by se jinak masterpoint pohyboval ze strany na stranu.
                <br><br>
                A frame může zvednout master point do výšky, ale nýt k přichycení na okraji skály nebo smyčka zavěšená za
                strom, ke které přichytíš master point bude fungovat stejně dobře.
                <br><br>
                <b>Typy konstrukcí:</b><br>
                Ještě než se konečně podíváme na různé konstrukce, přijde mi užitečné zmínit, že existují dřevěné konstrukce, které si
                můžeš koupit v některých obchodech se slacklinovým vybavením. Nicméně všechny jsou zamýšleny pro použití na
                krátkých tricklinách napnutých pomocí ráčny a NEJSOU vhodné pro highline. A frame-y od <a href="https://slacklineindustries.com/products/a-frames" target="_blank">SLACKLINE INDUSTRIES</a> a GIBBON
                nejsou schopné pořádně stabilizovat master point.
                <a href="https://spider-slacklines.com/shop/en/slackline-indoor/32-75-slackline-a-frame-stand-9506919000.html" target="_blank">SPIDER slacklines</a>
                prodávají malý dřevěný A frame, který je však moc malý na to, aby stál za používání na highline. Také není tak stabilní v porovnání se závěsnou konstrukcí.
                <br><br>
                Závěr? Postav si vlastní! Jak? Pojďme se podívat na to, jaké máš možnosti.<br>
                Mysli na to, že skladnost se odvíjí od toho, jak A frame vyrobíš, ne jaky typ zvolíš.
                Pokud by tě i tak zajímalo více, podívej se na <a href="https://www.youtube.com/watch?v=dxmIUuNM9HU">přednášku od Bradleyho Dulinga</a>
                (EN) z ISA Safety eventu 2017.
            </div>
        </div>
        <br><br>
        <div class="row align-items-center mt-2">
            <div class="col-md-8">
                <b>A Frames, X Frames</b><br>
                Dva trámy, které se scházejí v jednom bodě nahoře (A) nebo se kříží uprostřed (X),
                většinou ještě zajištěné dole lanem, aby se nerozjeli od sebe. Dají se poměrně jednoduše složit.
                Na <a href="https://www.youtube.com/watch?v=wkHJnxbb92I" target="_blank">návodu od SLACKTIVITY</a> se můžeš podívat,
                jak si ho vyrobit doma sám. Jak se posléze používá se dozvíš ve
                <a href="https://www.youtube.com/watch?v=6MLGBn4BJns">videu od Ryana Jenkse</a> (EN).
                <br><br>
                <b>T Frames</b><br>
                2 kolmé desky s příčkami, které vypadají jako obrácené písmeno T.<br>
                K dispozici je 24 stránkový
                <a href="http://necrew.com/wp-content/uploads/2016/08/Northern-Edge-Stowable-Wooden-A-frame-for-Slacklining.pdf" target="_blank">návod od Bradleyho Dulinga</a>
                (EN) jak si sestavit vlastní T Frame. <br>
                Na <a href="https://www.instructables.com/Slackline-without-trees-how-to-build-an-A-Frame/" target="_blank">další stránce</a>
                (EN) je k tomu přidán i návod jak zakopat kotvu do země.
                <br><br>
                <b>Monopod</b><br>
                Monopod se nepoužívá tak často. Jedna "tyč" - nebo v případě již zmiňované 2 km highliny v lomu v Kanadě telefonní sloup (již bez drátů) - může být použit jako
                monopod. Toto řešení vyžaduje kotvící lana, která zabrání v pohybu a pádu sloupu. Pokud nějaké z nich selže, konstrukce může spadnout, tedy musí být
                ukotvená pečlivě.
                <br><br>
                <b>Závěsná konstrukce (Hang Frames)</b><br>
                Nejstabilnějším a nejpevnějším typem je Hang Frame. Vyžaduje více dřeva, jelikož master point bude
                zvednutý 30-100cm ve vzduchu, což je ale méně, než velikost konstrukce.
                <br><br>
                Bradley vysvětluje, jak je sestrojit ve svém <a href="" target="_blank">krátkém videu</a> (EN),
                delší (podrobnější) verze je k <a href="" target="_blank">dispozici zde</a> (EN).
                Přidáváme několik videí z GGBY 2017, kde bylo použito několik komplexních sestav.
                <br><br>
                V <a href="https://www.youtube.com/playlist?list=PL8e3f1NCBKb7VCKwBalPnF3eetTDin7f8" target="_blank">tomto playlistu</a>
                se můžeš podívat na všechny testy, které Bradley provedl na závěsných konstrukcích.
                Síly, působící na kotvení se při použití závěsné konstrukce mění
                (více o tomto tématu <a href="https://youtu.be/RiTUiUvqJYI" target="_blank">v tomto videu</a> (EN)).
                Jerry Miszewski měřil sílu působící směrem dolů na konstrukci ze dřeva (hranoly 5x10cm) v
                <a href="https://www.youtube.com/watch?v=QaQjq1BNBms" target="_blank">tomto videu</a> (EN) a zlomil dřevo
                při síle 25kN. Síla však působila směrem dolu, aby taková síla mohla vzniknout, musela by na highline působit síla okolo 50kN.
                <br><br>
                Pokud by úhel do země měl ostrých 30°, bude na materiál působit stejná síla, jako na lajnu. Tato síla se
                může s měnícím se úhlem zvyšovat, v praxi však nikdy tak velké síly působit nebudou. Pokud však pochybuješ, sáhni při vyrábění aframu po
                rozměru dřeva 10x10cm.
            </div>
            <div class="col-md-4">
                <img src="/images/metodika/aframes/aframe_hang.jpg" class="w-100">
            </div>
        </div>
    </div>
</div>
<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/master-point" class="btn btn-primary">Zpět na: Master point</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/kilonewtony" class="btn btn-primary">Pokračuj na: Kilonewtony</a>
    </div>
</div>
