<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kilonewtony</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Kilonewtony</h2>
<h4 class="text-center text-black-50 pb-4">“Je to fakt síla...”</h4>
<div class="px-3">
<p>
    Prosím, neusínej, dáme si oficiální definici newtonu:
    <br><br>
    <i class="p-3">“Síla 1 newton je taková síla, která udělí volnému hmotnému bodu o hmotnosti 1 kg zrychlení 1 ms<sup>2</sup>”</i>
    <br><br>
    Tak jo, pořád vzhůru? Super.
    <br><br>
    Blížíme se k závěru našeho kurzu, tak vydrž. Poznámka pod čarou - newton měří velikost síly, nikoli hmotnost!
    Tyto veličiny se mohou zdát zaměnitelné a často tomu tak je, pokud budeme počítat jakou silou přitahuje gravitace
    tvůj zadek, bude to fungovat. Hra se ale změní ve chvíli, kdy začneme uvažovat sílu působící v horizontálním směru.
    <br><br>
    Kilonewton (kN) představuje 1 000 newtonů a také jde o obecně známé označení, kterým hodnotíme naše vybavení.
    Pro představu, běžně můžeš na karabinách najít označení 22kn, nebo si budeš kupovat lajnu s
    MBS 28kN (Minimum Breaking Strength - minimální síla, potřebná k selhání vybavení).
    <br><br>
    <div class="row">
        <div class="col-md-8">
            Pamatuj, že <b>newtony měří sílu, nikoliv hmotnost!!!</b> <br>
            Tedy 1kN není totéž, jako 102kg visící na laně. Jedná se o sílu,
            která těch 102kg táhne směrem dolů. Pokud bychom byli na planetě s poloviční gravitací, naměřili bychom sílu 0,5kN
            (a taky bys vážil o polovinu méně, ale nenech se tím zmást...).
            <br><br>
            Jak tedy změřit tvojí 75kg prdel když spadneš ze 3 metrů do něčeho celkem průtažného, řekněme dynamického lana?
            Ne v kilogramech, ale v kilogramech síly (kilogram force - kgf), nebo také známěji - v kilonewtonech.
        </div>
        <div class="col-11 col-md-3 p-3 m-3 border border-dark">
            <b class="text-center d-block">Rychlý přehled</b>
            <br>
            1 kN = 1000 Newtonů (N)<br>
            1 kN = 102 kilogramů (kg)<br>
            1 kN = 224 liber (lbs)<br>
        </div>
    </div>
    <br>

    Pád prvolezce při lezení dokáže vygenerovat něco mezi 2 a 6kN síly - v závislosti na mnoha faktorech.
    To samé platí pro pády na highline - síla se pohybuje v nějakém rozmezí a tak se snažíme naše kotvení
    vybudovat 3x, né-li 5x silnější.
    <br><br>
    Když dojde na napínání lajny - lajna napnutá na 5kN neznamená, že popruh váží 510kg, znamená to, že
    lajna drží sílu o velikosti 510kg po celé délce popruhu. V podstatě je to jako kdyby u kotvení někdo tahal
    za lajnu směrem od druhého kotvení silou 510kg.
    <br><br>
    <b>MBS (Minimum Breaking Strength)</b>
    <br><br>
    Minimum Breaking Strength - pevnostní limit vybavení může být trochu matoucí. Jedná se o přesně prováděné testování,
    které má pomoci standardizovat naše vybavení. Jak se taková pevnost počítá?
    <br><br>
    Někdo by se mohl domnívat, že jde o nejmenší hodnotu, při které došlo k selhání u jednoho z  5 pokusných
    předmětů, ale to by bylo moc jednoduché.
    <br><br>
    Systém výpočtu je založen na systému 3-SIGMA, kdy se určuje standardní odchylka (samotný výpočet je složitý a únavný,
    proto ho zde nezmiňujeme) ze série pěti testů. Tato hodnota se poté vynásobí třemi (odtud název 3-SIGMA) a nakonec
    se odečte pevnost tohoto nejslabšího produktu od průměru celé série. Tak získáváme 99,73% pravděpodobnost, že
    jakékoli další testy z této výrobní série budou stejně pevné nebo pevnější. Standardy jsou super, ale nedávají
    nám kompletní obrázek o situaci. Pokud testujeme věci tak, jak se v reálném světě používají a tak, jak jsou
    testovány v laboratoři, můžeme dostat odlišné výsledky.
    <br><br>
    <b>Spansety</b>
    <br><br>
    Spanset je velmi statickou částí našeho vybavení a statické věci se nerady ohýbají. Pokud na spansetu uděláš
    liščí smyčku, můžeš očekávat snížení pevnosti o přibližně 50%. Jak pevné jsou vlastně spansety? Fialový spanset
    má WLL (working load limit - limit pro pracovní použití) 1 tunu a bezpečnostní faktor (safety ration) 7:1 - tedy
    jeho MBS by mělo být 7x větší, než WLL. V testu na trhačce se při zatížení v přímém směru přetrhl při síle 78,8kN.
    Umístěné na dvojito tak, jako bychom je obvázali kolem stromu, je teoretická pevnost 2x větší, tedy blížící se 150kN.
    Liščí smyčka snižuje pevnost spansetu lehce pod 40kN, což je stále obdobná pevnost, jakou mají highlinové popruhy.
    <br><br>
    Moho lidí rádo používá modré a občas zelené spansety, které jsou OPRAVDU (a OPRAVDU ZBYTEČNĚ) pevné, ale nabízejí
    lepší ochranu proti prodření, pokud se tahá na ostré skále.
    <br>
    See sample #723.
    <br><br>
    <b>Sliding X z lana</b>
    <br><br>
    S 8mm statickým lanem (s 8čkou na obou koncích se přetrhlo při 10kN) se sliding X z:<br>
    <ul>
        <li>2 bodů přetrhlo při 34kN
        <li>3 bodů přetrhlo při 42kN
        <li>4 bodů přetrhlo při 59kN
    </ul>
    <br>
    Zajímavé je, že sliding X z 2 bodů je pevnější, než BFK ze 2 bodů, ze 3 bodů byla pevnost uzlů podobná a při 4 bodech byla pevnost sliding X o malinko horší, než u BFK. Jakmile je BFK dostatečně velký, poloměr ohybu lana už nesnižuje pevnost uzlu více, než ohyb lana v master pointu.
    <br><br>
    See samples #194-#196.
    <br><br>
    <b>BFK z lana</b>
    <br><br>
    Big Fat Knot / Big Fucking Knot - zkrátka pořádně velký uzel. Tento uzel je sám o sobě redundantní pro případ, že by jeden z bodů, za které se kotví, selhal. Stejné 8mm statické lano s pevností 10kN, jako jsme zmiňovali výše dopadlo následovně.
    <br><br>
    BFK z:<br>
    <ul>
        <li>2 bodů se přetrhl při 26kN
        <li>3 bodů se přetrhl při 42kN
        <li>4 bodů se přetrhl při 64kN
    </ul>
    <br>
    Takže BFK ze 3 bodů, uvázaný z 8mm statického lana je tak pevný, jako jakýkoliv popruh, který na highline taháš.
    Pevnost získává tím, že obsahuje 6 pramenů lana, které jdou tam a zpět, ale ztrácí ji kvůli ohybu lana u plakety,
    mailony nebo uzlu. Není tedy 6x pevnější, jak by se mohlo na první pohled zdát, stejně tak ze 4 bodů nemá BFK
    pevnost 80kN, ale jen něco kolem 64kN.

    <br><br>
    <div class="row">
        <div class="col-md-8">
            <b>Quad anchors</b>
            <br><br>
            Quad anchor je typ kotvení / štandu, při kterém se dlouhá plochá smyce přehne na dvojito a zakotví, jako bys kotvil jednoduchou plochou smyci.
            <br><br>
            Po zavázání pomocných uzlů (limiter knot - kvůli tomu, že omezuje pohyb po centrálním oku) - viz obrázek - získá decentní možnost samovyvažování.
            U lan či u kotvení se 3 body nemá tento typ kotvení moc využití a nepřináší žádné výhody oproti BFK, proto ho zde neuvádíme.
            <br><br>
            Výsledky testů:<br>
            <ul>
                <li>Plochá smyce - 240cm Black Diamond dyneema  - ze 3 testů se každá přetrhla při 40kN
                <li>6mm repka - ze 2 testů se přetrhla při 32kN
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <img src="/images/metodika/kilonewtony/kilonewtony_quad_anchor.png" class="w-50">
        </div>
    </div>
<br>
<div class="row align-items-center">
    <div class="col-md-3">
        <img src="/images/metodika/kilonewtony/kilonewtony_weblock.jpg" class="w-100">
    </div>
    <div class="col-md-9">
        <b>Kotvítka</b>
        <br><br>
        Ano, ty nerozbijeme… Mohli bychom kolem pinu nebo příčníku uvázat spanset a tahat za něj, to ale není způsob, jakým kotvítko používáme.
        <br><br>
        ISA pro testování kotvítek musela nechat vyrobit speciální dyneemový popruch s pevností 90kN k testování kotvítek pro svůj certifikační program.
        <br><br>
        <b>Super bezpečné!</b>
    </div>
</div>
<br><br>
    <div class="row">
        <div class="col-md-8">
            <b>Plakety (Bolts)</b>
            <br><br>
            Každá alespoň z poloviny dobře umístěný nýt s plaketou se přetrhne minimálně při síl nad 20, ne-li 30kN až po 60 kN. Každá plaketa má bezpečnostní faktor alespoň 3:1 a je obvykle pevnější než tvůj popruh. Při použití jen dvou dostaneš potřebnou pevnost a redundanci.
            Je však běžné používat 3 a někdy dokonce 4 nýty na každé straně v závislosti na tom, kdy byly vyvrtány, na kvalitě okolní skály a dalších faktorech.
            <br><br>
            Měj na paměti, že díky použití některých typů lepidel pro upevnění se mohou nýty ohýbat a zůstat ohnuté při působení síly i jen 4 kN. Pokud máš napnutou highlinu ve větrný den a tvůj BFK není dobře vyrovnaný, můžeš ohnout nýt  i když se zlomí až mnohem, mnohem později.
            <br><br>
            A tenké plakety mohou značně snížit pevnost lana, pokud jej provlékneš přímo plaketou, protože poloměr ohybu je zde příliš malý.
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/kilonewtony/kilonewtony_bolt.jpg" class="w-75 p-3">
        </div>
    </div>
    <br><br>
    <b>Seznam se s Dynamometrem</b>.
    <br><br>
    K měření používáme zařízení nazvané dynamometer (hezky česky siloměr), často když o něm budeme mluvit mu budeme říkat zkráceně “dyno”.
    Kabel je připevněný ke kusu kovu a pokud ním prochází malé napětí o velikost mikrovoltů a začneš na něj působit silou, napětí se
    lehce změní. Dyno je samo o sobě jen hloupý rezistor (odpor). Potřebuješ něco, co do něj bude pouštět proud a zařízení,
    které bude číst změny odporu a (pokud je správně nakalibrované) poví ti, jaká je působící síla. ADC (Analog Digital Converter)
    čte jednotlivé změny v napětí a poté je průměruje v takové rychlosti, pro jakou je sestrojený.
    To, jak rychle měří změny je klíčové při statickém šokovém zatížení (static shock load), kde síla působí po dobu
    mikrosekund a pokud ji nestihneš změřit, pak jsi celý pokus dělal zbytečně.
    <br><br>
    Právě tady je potřeba převést analogové informace do digitální formy, což může výrazně zpomalit rychlost čtení a
    zvýšit náklady na vybavení, často doprovázející potřebou externích počítačových softwarů.
    <br><br>
    Na jeden čláńek dobré, ne?
</div>

<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/a-frames" class="btn btn-primary">Zpět na: A-Frames</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="#" class="btn btn-primary">Pokračuj na: Na hraně</a>
    </div>
</div>
