<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kotvení</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Kotvení</h2>
<h4 class="text-center text-black-50 pb-4">“5 bodů, co si zapamatovat”</h4>

<div class="px-3">
    <p>
        Je důležité u kotvení přemýšlet a správně vyhodnotit situaci, posoudit prostředí a tomu přizpůsobit typ kotvení.
        V této kapitole se pokusíme podívat na to, jak se kotví highline z trochu širší perspektivy.
        <br><br>
        Pro vytváření lezeckých štandů existuje spousta pomůcek, jak si tyto body zapamatovat.
        Např. IDEAL (<b>I</b>ntegrity, are <b>D</b>oubled and <b>E</b>qualised, have a proper <b>A</b>ngle, and appropriate <b>L</b>ength),
        SERENE (<b>S</b>trong, <b>E</b>qualized, <b>R</b>edundant, <b>E</b>fficient, <b>N</b>o <b>E</b>xtension) atd.
        <br><br>
        Slovní hříčka by šla určitě vymyslet i v češtině (a věřím, že spousta z vás nějakou zná a pokud ne, máte alespoň o čem večer pod skálou přemýšlet).
        Každý z pojmů výše označuje to samé, a to body, které by mělo bezpečné kotvení splňovat:
        <br><br>
        <ul>
            <li><b>Redundance</b> - Neměl by v něm existovat bod, který když selže, selže celé kotvení.</li>
            <li><b>Ostrý úhel</b> - Udržuj úhel mezi rameny tvého kotvení do 90°, při 120° už na každý kotvící bod působí
                víc síly, než na master point.</li>
            <li><b>Bez tření</b> - Pokud se lano nebo lajna o něco tře, speciálně pokud je pod tahem, může se velmi rychle
                poškodit / přetrhnout. Měj vše podložené / obandážované.</li>
            <li><b>Vyvážení</b> - Síla působící na kotvící body by měla být rozložena rovnoměrně. Nechceš, aby jeden bod držel většinu síly..</li>
            <li><b>Bez prodloužení</b> - Pokud jeden kotvící bod selže, můžou se ostatní šokově zatížit (shock load).
                Vyvaruj se velkému prodloužení systému, pokud jedna část selže.</li>
        </ul>
    </p>
    <br>

    <h5 id="redundance">Redundance</h5>
    <p>
        Zdvojení, pojištění… řikej tomu jak chceš, to důležité je, abys neměl v systému část, která když selže, selže
        celé kotvení - ve světě často používaný termín “single point of failure”.
        <br><br>
        Můžeš si všimnout, že na highlině například používáme dvě lajny, ale jenom jednu odsedku.
        Tedy redundance někde ano a někde ne? Uvedu další příklad:
        <br><br>
        Spanset umístěný na dvojito kolem stromu s pevností (MBS) někde mezi 100 - 300kN (v závislosti jakou barvu spansetu použiješ)
        je dostatečně pevný a pravděpodobně nepotřebuješ v systému další takový. Kruhy, trhající se při 40-50kN, jsou pevnější než většina
        vybavení použitá při kotvení (kruhy a další ocelové části se navíc před selháním začnou ohýbat, čímž indikují, že je něco špatně).
        I z důvodu, že odsedka, která tyto kruhy spojuje s tebou, je mnohem slabší, není potřeba
        používat 2 kruhy. (Protažená odsedka od Balance comunity se přetrhla při síle 16kN (nová), resp. 14kN (použitá).
        Tvoje záda ani zdaleka nevydrží takovou sílu a musel by ses hodně snažit, abys při pádu do odsedky vygeneroval víc než 2kN síly)
        <br><br>
        Pár jedinců experimentovalo s dvěma odsedkami, ale buď se lana třou o sebe, nebo se můžeš zachytit mezi ně. Nápad dobrý, nicméně přináší
        více rizik, než užitku.
        <br><br>
        Redundance ne vždy funguje tak, jak by sis mohl myslet. Například pokud přivážeš backup za jiný strom, než za který kotvíš, může se to zdát bezpečné, ale není!
        Pokud se strom, za který kotvíš hlavní lajnu vyvrátí a spadne… no tak padá dolů ze skály a je pořád přivázaný k lajně, ke které jsi přivázaný ty!
        Mnohem lepší je spolehnout se jen na jeden strom / kámen a ten pojistit za jiný strom / kámen ve směru působení síly.
        <br><br>
        Také domněnka, že pojistit něco “né úplně dobré” něčím “né úplně dobrým” vyústí v něco bezpečného, není moc pravdivá.
        Dvě chyby v kotvení z něj neudělají tutové! Kotvení za křoví, vyvázané za pár trsů trávy, prostě není redundantní.
        <br><br>
        Okej, nezačínej si myslet, že backupovat je blbost. <b>REDUNDANCE JE DŮLEŽITÁ</b>.
        <br><br>
        Pokud kotvíš highline za nýty, a ty jsou dobré, pak stačí dva. Tři jsou vhodné pro vázání BFK, aby byl uzel dostatečně velký a nestal se nejslabším článkem, kvůli malému poloměru ohybu,
        který nastane při uvázání BFK z 2 jistících bodů.
        <br>
        4+ nýtů se využívá z pravidla jen v případě, že kvalita skály není dostatečná.
        <br><br>
        Na závěr bych chtěl zmínit další, méně známou formu redundance, a to mixování vybavení. Co si pod tím představit?<br>
        Pokud máš na lajně našité oko, které selže, je pravděpodobné, že na backupu je oko od stejného člověka s podobným problémem.
        Pokud všechny soft šekly, kterými jsou spojeny segmenty vázal jeden člověk, můžou být všechny špatné.
        Poskládat materiál od různých lidí může přidat určitou formu redundance, mít všechno dvakrát tedy není vždy výhra!
    </p>
    <br>
    <p>
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5 id="uhel">Ostrý úhel</h5>
                Velký (tupý) úhel zvyšuje sílu působící na každý bod, kde je systém ukotvený. Některé lezecké články podávají tuto informaci stylem,
                že "velké úhly exponenciálně zvyšují působící sílu" a pokud není úhel 45° a méně, tak umřeš... no a slacklineři z tahání popruhu pod
                velmi tupým úhlem udělali sport. <br><br>
                Jak si můžeš všimnout, 70kg člověk na slackline, která je napnutá v klidu na 450Kg může
                vyvinout někde mezi 670 a 900kg - tedy více než 10ti násobek své váhy.
            </div>
            <div class="col-md-6">
                <img src="/images/metodika/kotveni/kotveni_sily_2.jpg" class="w-100" alt="Sily na highline">
            </div>
    </div>
    <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <img src="/images/metodika/kotveni/kotveni_sily.png" class="w-100" alt="Sily na highline 2">
            </div>
            <div class="col-md-6">
                Představ si, že na takové lajně máš kotvení, kde jsou prameny pod úhlem 160°
                (Úhlu 180° je v praxi velmi náročné dosáhnout, protože všechno se pod tahem trochu protáhne).
                V takovém případě by na tvé kotvení působila síla 8kN x 288 % = 23kN! Zní to hrozně, že? Teoreticky - jakákoliv highline,
                kterou taháš by měla mít kotvení schopné vydržet tah 23kN i když nebudeme mít tak dobré safety ratio (bezpečností faktor).
                <br><br>
                Jak můžeš vidět na obrázku, úhel pod 45° sdílí zátěž rovnoměrně, při 120° dosáhneme bodu, kdy na každý jistící bod působí stejná síla,
                jako na master point, což není úplně ideální, ale jistící body by stejně měli zátěž 23kN bez problému vydržet.
            </div>
    </div>

        <br><br>
        Na závěr dodejme, že pouze omega šekly a soft šekly mohou být zatíženy ve 3 směrech. <br>
        Navzdory tvaru i delta mailony (trojúhelníkové)
        jsou zamýšleny pouze k přímému zatížení (ve 2 směrech proti sobě).
        <br><br>
        Shrnuti, čím menší úhel, tím menší působící síla na kotvení!
    <br>
    <h5 id="treni">Bez tření</h5>
    <p>
        Potřebuješ bandáže! Kotvení by se nemělo dotýkat ničeho.
        <br><br>
        Je poměrně těžké přeříznout lano nebo popruh (a speciálně pak dyneemu) a to dokonce i nožem. Tohle ovšem přestává platit, pokud
        se tyto materiály dostanou pod tah. Největším rizikem selhání u highline je situace, kdy se lajna pod tahem dotýká něčeho ostrého. Měkké
        vybavení vydrží při tření pouze chvilku, než se kompletně přepálí / přeřízne. <br><br>
        Příklad: Highline v horách ve větrné bouři se pohybovala tak agresivně, že nebylo možné ji povolit klasickou cestou.
        Došlo tedy k odříznutí lajny. Na to stačil jeden dotyk nožem a následoval zvuk podobný přetržení kytarové struny a
        uvolnění energie, která byla v systému.
        <br><br>
        Kotvení a popruh tedy musí být obandážovaný velmi dobře. Čím méně pohybu kolem věcí, které by je mohli přeříznout či prodřít, tím lépe.
        Navíc při umisťování bandáži měj v hlavě vždy ten nejhorší scénář. Je potřeba bandážovat tam, kde se lajna dotýká teď,
        kde se bude dotýkat, když někdo spadne do odsedky a když např. přijde silný vítr.
        <br><br>
        Existují způsoby, jak master point kotvení stáhnout dolů lanem, zvednout přes kozu (A frame) nebo zavěsit, popř. prodloužit
        dál za hranu. Potencionální oblast, kde se může lajna “odřít” je potřeba také velmi dobře podložit, například skálu,
        které se teď lajna nedotýká, ale v případě selhání a pádu do backupu by byla v kontaktu s lajnou. Také kdyby z
        nějakého důvodu došlo k prodloužení systému (selhání kotvícího bodu), budou aktuální bandáže stačit?
        <br><br>
        Na <a href="https://www.youtube.com/watch?v=_gByTsyzeVE&t=163s" target="_blank">testu od slackitivity</a> se můžeš podívat,
        jak dopadne popruh pinktube, pokud o něj pod různým tahem třeš. Při nižším
        tahu je potřeba více tření k přeříznutí lajny, jakmile ale dosáhneme specifického tahu, tření začne věci likvidovat
        velmi rychle.
    </p>

    <h5 id="vyvazeny">Vyvážení</h5>
    <p>
        Pokud jeden kotvící bod drží většinu síly, zatím co ostatní se flákají, něco není v pořádku.
        <br><br>
        Dříve si většina slacklinerů myslela, že se síla v kotvení rozkládá rovnoměrně. Tedy když uvážeš sliding X ze 4 bodů, každý bod
        bude držet ¼ síly.
        <br><br>
        Tuto myšlenku vyvrátil až Andy Lewis se svým experimentem, kdy na ramenou 4 bodového kotvení připevnil dynamometry a zjistil,
        že nejen že je kotvení trochu nevyvážené, ale že je drasticky nevyvážené. Každý už tušil, že pokud uvážeš BFK, budou
        síly rozloženy na nýty přinejlepším náhodně a to je ve své podstatě pravda, takže sliding X bylo preferovaným typem
        kotvení. Právě proto se dostaly do módy whoopie smyčky, které bránily prodloužení systému v případě, že by uzel selhal.
        Více o rozdílech BFK vs Sliding X v <a href="/uzly">sekci o uzlech</a>.
        <br><br>
        Zpátky k nýtům, největší síla působí na nejbližší nýt(y) a na ten nejvíce ve směru.
        Pokud bys kotvil jen za jeden kotvící bod (nýt), měl bys kotvení 100% vyvážené (ačkoliv by nebylo moc redundantní).
        <br><br>
        Při použití sliding X na 2 nýtech, které jsou v rovině a tvoří s kotvením dokonalý tvar V, by každý sdílel 50% působící síly.
        Pokud by však jeden bod byl více vzadu, působila by na něj menší síla. V závislosti na tom, jak jsou vůči sobě umístěny,
        by se síla 4kN mohla rozložit na 3kN na přední nýt a jen 1kN na zadní nýt. Zátěž stále sdílí, ale už nikoli rovnoměrně.
        <br><br>
        3 nýty v jedné rovině rozloží váhu 60 % na prostřední bod a 20 % na dva krajní body. Ačkoliv se nejedná o klasickou
        vědu s úhly, protažením a vzdálenostmi, může ti poskytnout náhled na to, jak velké mohou být rozdíly v rozkládání sil.
        Pokud umístíš 4 kotvící body do jedné řady a začneš na master point působit silou 4kN, 2 prostřední body budou
        držet sílu 1,6kN, zatímco krajní 2 jen 0,5kN. To je obrovský rozdíl ve velikosti těchto sil.
        Logickou úvahou je vzít tyto dvě pravidla (o krajních bodech a vzdálenějším / bližším bodu) a zkombinovat je tak,
        aby každý bod rozkládal sílu rovnoměrně mezi ostatní.
        <br><br>
        Vraťme se zpět k 3 kotevním bodům, jelikož to je situace, se kterou se setkáme nejčastěji. Nejlepší výsledky nám dává
        rovnoramenný trojúhelník, umísti prostřední kotvící bod tak daleko za ostatní dva, jako je vzdálenost mezi těmito 2
        body. Není to perfektní, ale v testech toto kotvení obstálo dobře. Dostatečně dobře pro tebe!
        <br><br>
        Právě jsi objevil super dobrý tvar pro nýty. Jenže nýty jsou tak trochu trvalá věc, co tedy dělat s již už existujícími,
        které nedovolují vyrobit rovnoramenný trojúhelník? Zase máš štěstí. Všechno, co jsme tu do teď probrali se stalo
        nepodstatným, když si někdo uvědomil, že se všech nepotřebných věcí jako whoopie smyčky můžeš zbavit, pokud uvážeš
        BFK potom, co vytvoříš sliding X. Každé rameno uzlu tak izoluješ, čímž zvýšíš redundanci.
        Další dobrou zprávou pro tebe je, že na dobrých nýtech není vyvažování sil tak podstatné, jelikož každý nýt vydrží
        5x více, než síla, jakou na něj budeš u kotevní highline typicky působit (5-8kN).
        <br><br>
        Jakkoliv hezká je představa, že máš 3 nebo 4 tutové body, kam ukotvit lajnu, ne vždy tomu tak bude. Při tahání
        lajny za friendy / vklíněnce nebo starší nýty začíná být vyvažování kotvení mnohem důležitější.
        <br><br>
        Pokud se v tak extrémní situaci vyskytneš - sliding X uvázané kaskádově za sebe je klíčem k tomu, aby větší počet bodů
        rozkládal sílu co nejvíce rovnoměrně. Pokud máš 4 body, uvaž sliding X z 2 a 2 bodů a pak tyto 2 sliding X spoj
        dalším sliding X. Pokud vše uděláš dobře, bude takový systém téměř dokonale vyvážený. Jakmile však někdo začne
        surfovat nebo se lajna začne pohybovat ze strany na stranu, může se většina síly opět přenést jen na jeden bod kotvení.
        Hlavním problémem kaskádového kotvení je šokové zatížení v případě selhání. Toto se sice dá vyřešit whoopie smyčkami,
        nicméně jedná se o poměrně složitý setup. Je dobré být realistou v tom, jak úžasné naše kotvení je.
        <br><br>
        Opravdovým svatým grálem vyvažování kotvení je stabilizace master pointu. V ideálním případě by se master point
        kotvení neměl vůbec pohybovat. Pokud se pohybuje ze strany na stranu, pak i síly v kotvení se mění. Také riziko
        mechanického poškození třením / odřením se snižuje, pokud se master point nehýbe. Stabilizaci master pointu se
        ještě budeme věnovat v <a href="/a-frames">sekci o A Frames</a>.
    </p>
    <br>
    <h5>Bez prodloužení</h5>
    <p>
        Pokud něco selže, náhlé prodloužení může šokově zatížit ostatní kotvící body. Vyvaruj se šokovému zatížení (shock load) systému.
        Sliding X může pomoct vyvážit kotvení velmi rychle, ale když jeden bod selže, velmi rychle se prodlouží a šokově zatíží
        ostatní části kotvení. Šokovému zatížení se v lezeckém a slacklinovém světě snažíme vyhýbat, protože může vygenerovat
        obrovské síly. Např. pokud bys spadl z okraje skály připevněný dyneemovou sešitou smycí, při zachycení pádu by se šokově
        zatížila, zranila tě a dost možná se i přetrhla.
        <br><br>
        Ryan Jenks provedl několik experimentů pod hlavičkou
        <a href="https://www.youtube.com/watch?v=nr3YBDnOI8Q" target="_blank">“Shockloading is a myth”</a> (EN). Pokud je v systému přítomný
        jakýkoliv dynamický prvek (lano/popruh), není kotvení v izolovaném prostředí a pohltí část šokového zatížení.
        V opačném případě je však i malý pád schopný tě zranit.
        <br><br>
        Při použití sliding X jsou k prevenci prodloužení v případě selhání často využívány whoopie smyčky.
        Mimo to také řeší problém s redundancí sliding X. BFK díky izolaci jednotlivých pramenů brání šokovému zatížení.
    </p>
    <br><br>
    <p>
        Jeden rychlý příklad na závěr, tím nejjednodušším kotvením, které splňuje všechny naše požadavky na bezpečné
        kotvení je obyčejný BFK (Big Fucking Knot). Existuje několik způsobů, jak ho uvázat, které najdeš v <a href="/uzly#bfk">kapitole o uzlech</a>.
        Nyní bych byl rád, aby ses podíval na obrázek kotvení a zhodnotil ho.
        <br><br>
        <div class="row align-items-center">
            <div class="col-md-6">
                <b>Redundance</b> - Kotvení je za 3 nýty, tedy více než dostatečné<br>
                <b>Ostrý úhel</b> - Úhel mezi nýty je dostatečné malý na to, aby negeneroval vyšší síly na kotvení, než na master point.<br>
                <b>Bez tření</b> - Je potřeba přidat bandáže pro případ dotyku kotvení a skály.<br>
                <b>Vyvážení</b> - Všechny 3 nýty sdílí síly relativně rovnoměrně. Dokonale vyváženého kotvení je v praxi velmi těžké dosáhnout a není z pravidla potřeba.<br>
                <b>Bez prodloužení</b> - BFK zabraňuje kotvení v prodloužení, v případě, že by jeden nýt nebo jeden pramen uzlu selhal.<br>
            </div>
            <div class="col-md-5">
                <img src="/images/metodika/kotveni/kotveni_example.png" class="w-100">
            </div>
        </div>
    </p>
</div>

<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/uzly" class="btn btn-primary">Zpět na: Uzly</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/prirodni-kotveni" class="btn btn-primary">Pokračuj na: Přírodní kotvení</a>
    </div>
</div>
