<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Master point</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Master point</h2>
<h4 class="text-center text-black-50 pb-4">“Co cvaknout do té obří smyčky, co mám ve svém kotvení?”</h4>
<div class="px-3">
    <p class="text-center">
        Vytvoření kotvení pro highline a její následné napínání jsou 2 odlišné věci, pro které máme na webu 2 oddělené
        části.
        Master point spadá tak trochu do obou, přesto mi přijde lepší věnovat se mu už zde v části o kotvení.
        <br><br>
        Pojďme podívat na to, jak takový master point může vypadat:
    </p>

    <div class="row">
        <div class="col-md-8">
            <b>Co a jak použít?</b>
            <p>
                Zaprvé, jako master point <b class="text-danger">NEPOUŽÍVEJ KARABINY, ŽÁDNÉ, ALE HLAVNĚ NE
                HLINÍKOVÉ!</b><br>
                Můžeš si přečíst <a href="materialy#cyklicke-zatezovani" target="_blank">o cyklickém zatěžování</a>, aby
                jsi
                pochopil, proč je to špatný nápad. Navíc hliník praská, zatímco ocel se deformuje! Ani ocelová karabina
                však není vhodná, jelikož se
                může otevřít zámek nebo se karabina může otočit a zatížit se příčně, což znatelně sníží její pevnost.
                Nemluvě o tom, že kotvítka většinou nejsou navržena pro spojení karabinou.
                <br><br>
                Pro vytvoření masterpointu nejlépe poslouží velký ocelový šekl nebo softšekl.
                <br><br>
                Ocelový omega šekl je velmi těžké zničit, ale pokud se ti to povede (jako nám) - vyhoď ho a pořiď si
                nový,
                nejedná se o drahou položku a tvůj život určitě stojí za víc.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/master-point/sekl.jpg" class="w-100">
        </div>
    </div>
    <p>
        Soft šekly by neměly být používány s kotvítky, které mají ostré hrany, což je bohužel
        většina z nich. Softšekly jsou v pořádku pro spojování šitých ok.
        Pro <a href="/priprava-hl#segmenty" target="_blank">spojování segmentů</a> běžně používáme 5mm soft
        šekly,
        jelikož uzel je o 25% menší a kruh přes něj snáze přejde. Pro kotvení je vhodnější použít
        6 nebo 8mm softšekly.
    </p>
    <br>
    <b>Jeden vs. dva body</b><br>
    <p>
        Pojďme se podívat za oceán. Američané z pravidla budou mít ve svém kotvení jeden master point.
        U nás v evropě je, nebo minimálně bylo, zvykem mít v kotvení 2 “master pointy”, jeden pro main a druhý pro
        backup.
        <br><br>
        Master point je tu v uvozovkách, protože se z definice o master point nejedná. Master point považuji za bod,
        kde se všechny ostatní části potkávájí, včetně apokalyptického backupu, který tam někdo cvaknul po natažení “co
        kdyby náhodou”.
    </p>
    <br>
    <b>Spojení vs. zabudování</b>
    <p>
        Teď, když máš lano nebo spansety spojeny do jednoho bodu, jaký to bude? Už jsme zmiňovali, že kvalitní omega
        šekl je to nejčastější, s čím se setkáš. Soft šekl je další odlehčenou variantou, kterou můžeš použít.
        Možná si pamatuješ ze sekce o vybavení, že měkké materiály se o sebe nesmí třít. V tomto případě nebude
        docházet k pohybu spansetu / lana ani softšeklu, který by mohl vygenerovat teplo. <br><br>
        Tohle jsou tedy nejčastěji používané metody, pokud se rozhodneš kotvítko spojovat s kotvením.
        <br><br>
        Kotvítko ale můžeš zabudovat přímo do kotvení, tedy alespoň kotvítko pro hlavní lajnu a to u kotvítek, která
        mají velká oka a nemají ostré hrany (jako Alpine Weblock 5.0) nebo mají v zadu pin, který je schopný vydržet
        velkou zátěž. Můžeš tak použít o jeden spojovací prvek méně.
    </p>
    <br>

    <b>Na velikostí záleží</b>
    <p>
        Možná si slyšel, že na velikosti nezáleží... ale není to pravda! Do master pointu se ti musí
        vejít 2 věci, hlavní lajna a backup. Měj tam tedy dost prostoru, aby se ti tam vešlo tvé vybavení. Nepoužívej
        malé šekly!
    </p>
    <br>

    <b>Uzly</b>
    <p>
        Uzly na lajně drasticky snižují její pevnost. Čím větší je uzel, tím pevnější je. Na statické straně kotvení by
        mělo být našité oko, které zvládne zachovat 80-90% pevnosti lajny. V praxi by stačil frost knot k udržení hlavní lajny,
        avšak bezpečností faktor se pak drasticky snižuje. Většina lidí se tedy rozhodla nevázat uzly na hlavní lajně, kde jsou pod
        konstantním působením síly. Uzly stále přetrvávají jako způsob ukotvení backupu.<br>
        Nicméně takový uzel sníží pevnost lajny, nejlepším řešením tedy zůstává použít 2 kotvítka pro main a backup.
    </p>
    <br>
    <b>Pozice</b>
    <p>
        Pozice master pointu je důležitá. Pokud můžeš, neumísťuj master point daleko za hranu skály. Napínání bude na
        složitá, nasedání / sesedání z lajny bude složité, záchrana z lajny bude složitá… ještě víc, než normálně.
        Všechno je na hovno na lajně, která začíná tak daleko od kraje skály. V ideálním případě chceš mít master point
        jen pár centimetrů za hranou, tak, aby kotvítko bylo těsně za ní. Pamatuj však, že lajna se nesmí ničeho
        dotýkat, takže to s tou intimností zase nepřeháněj. 15 centimetrů mezi lajnou a skálou splní účel úplně stejně
        jako 1,5 metru.
    </p>

    <div class="row">
        <div class="col-md-8">
            <b>Povolovák</b>
            <p>
                Softrelease spojuje hlavní lajnu s master pointem. S trochou štestí ses s povolovákem setkal
                už v parku, kde jej většinou uvidíš na kotvítku na napínací straně.
                Pokud ne, prosím nenapínej highline sám a přečti si <a href="/vybaveni" target="_blank">část o vybevní</a>!
                <br><br>
                Na highlině je zvykem dávat ho na statickou stranu, to proto, abys nemusel pouštět / posílat lajnu na
                druhou stranu k vykotvení. Pokud jsi navíc připraven, máš už přivázanou repku k oku lajny na statické straně a
                můžeš tak lajnu rovnou posílat zpět na druhou stranu.
                Více si o tom povíme v <a href="/napinani-hl#sundavani" target="_blank">části o napínání</a>.
                <br><br>
                Navzdory nevýhodám, někdy může být užitečnější umístit povolovák na napínací stranu.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/master-point/softrelease.jpg" class="w-100">
        </div>
    </div>
    <br>
    <b>Bandáže</b>
    <p>
        Obandážuj si pořádně kotvení, master point i lajnu. Ideální stav je ten, že obandážuješ vše tak, abys mohl cokoliv
        zkontrolovat pohledem. Pokud bude master point zabalený jako balíček z aliexpressu, může být
        kontrola před nástupem na lajnu složitější.
        <br><br>
        Zaměř se na obzvláště ostré kameny a části skály a ty podlož. Jakákoliv část, která se může pohybovat po drsném
        povrchu by měla být obandážována. Naplnit batoh (nebo tašku) něčím měkkým a umístit ho pod master point je
        výborný způsob jak zabránit tření a zároveň na kotvení stále vidíš.
        <br><br>
        Pamatuj, že stačí pár přejetí naplé lajny přes skálu a lajna se přetrhne.
    </p>
</div>
<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/prirodni-kotveni" class="btn btn-primary">Zpět na: Přírodní kotvení</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/a-frames" class="btn btn-primary">Pokračuj na: A Frames</a>
    </div>
</div>
