<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Materiály</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Materiály</h2>
<h4 class="text-center text-black-50 pb-4">“Co je uvnitř, to se počítá”</h4>

<div class="px-3">
    <p class="text-center">
        Jé důležité rozumět materiálům, ze kterých je vyrobené tvé vybavení. Třeba proto, abys věděl, jak ho můžeš (a nemůžeš) používat. <br>
        Bude se ti to hodit v rozhodování, jaký materiál a jaké vybavní použít. Napínání highline nemusí být vždy tak přímočaré, jak se zdá.<br>
        Hliníkové karabiny nemůžou být zatížené blízko k svému pevnostnímu limitu, jelikož tím ztrácí pevnost (vlivem cyklického zatížení).<br>
        Měkké části se nemohou třít o jiné měkké části, jinak se přepálí, bod tání u dyneemy je
        mnohem nižší, než u nylonu nebo polyesteru. <br><br>
        A je dobré vědět, z čeho je ten 25 milimetrový popruh, po kterém chodíš, vyrobený.
    </p>

    <div class="row align-items-center">
        <div class="col-md-8 ps-md-5">
            <h5 id="pes">Polyester</h5>
            <p>Polyester (PES) je typ plastu s nízkou průtažností. To, jak jsou polyesterová vlákna propletena mezi
                sebou určuje, jak průtažné ve výsledku lano nebo popruh bude. Výslednou průtažnost ovlivňuje i následné procesy jako např. termofixace.
                Z pravidla se však jedná o lehký, pevný a málo průtažný materiál.
                Průtažnost polyesterových popruhů se typicky pohybuje mezi 2 a 11% při síle 10kN.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/materialy/materialy_pes.png" class="w-100">
        </div>
    </div>

    <div class="flex-column-reverse flex-md-row row align-items-center">
        <div class="col-md-4">
            <img src="/images/metodika/materialy/materialy_pad.jpg" class="w-100 float-end">
        </div>
        <div class="col-md-8">
            <h5 id="pad">Nylon</h5>
            <p>
                Správný chemický název zní Polyamid (PAD) nebo Nylon 6-6. Nylon je jeden z nejpoužívanějších materiálů,
                od lezeckých lan, přes sedáky až po smyčky a lajny...<br><br>
                Jedná se o průtažný materiál s podobnou pevností jako polyester. Ve srovnání s polyesterem je mnohem odolnější vůči vnějším vlivům,
                což z něj dělá výbornou volbu při výrobě outdoorového vybavení.
                Stejně jako u polyesteru způsob proplétání vláken ovlivňuje mimo jiné také průtažnost výsledného popruhu, ta se u nylonových lajn pohybuje mezi 8-22%.
                <br><br>
                Za zmínku stojí, že nylon mírně absorbuje vodu, což má za následek dočasné zvýšení průtažnosti a mírnou ztrátu pevnosti.
            </p>
        </div>
    </div>

    <h5 id="dyneema" class="mt-4">Dyneema</h5>
    <div class="row">
        <div class="col-md-8">
            <p>
                UHMWPE (Ultra-High-Molecular-Weight Polyethylen), dyneema nebo (dle obchodní značky) “Amsteel” je opravdu zajímavý plast.
                Je silnější než ocelové lano o stejném průměru a i tak zvládne ve vodě plavat na hladině. Díky své velmi, velmi, velmi nízké
                průtažnosti není vhodný k vázání uzlů, jelikož jeho pevnost snižují o více než 50%.
                <br><br>
                Uzly nejsou pro dyneemu vhodné i z toho důvodu, že se jedná o velmi kluzký materiál (činitel tření je 0,4 - tedy kluzčí než teflon).
                <br><br>
                Dyneemová lana musí být při spojování zaplétána (což funguje jako <a href="https://en.wikipedia.org/wiki/Chinese_finger_trap" target="_blank">čínská past na prsty</a>),
                přičemž si zachovají většinu své pevnosti. Dyneema je hojně využívaná jako jádro pro lana na canoeing. I když zde vnější vrstvy
                opletu brání uzlu v proklouznutí, uzly stále snižují pevnost lana o více než 50%. Lezecké smyčky se také často vyrábí z dyneemy (nejčastěji v kombinaci s polyamidem).
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/materialy/materialy_dyneema.jpg" class="w-100">
        </div>
    </div>

    <div class="row align-items-center flex-md-row flex-column-reverse m-4 mt-1 p-2" style="border: 5px solid #f04f35">
        <div class="col-2 text-center">
           <img src="/images/metodika/materialy/materialy_danger.png" style="width: 80%;">
        </div>
        <div class="col-10">
            Dyneema začíná ztrácet pevnosti při ~100°C* a taví se při teplotě 145°C*, což je mnohem méně než u polyesteru a nylonu, které se taví při 245°C.
            Ačkoliv je dyneema velmi odolná proti odření, teplo vygenerované třením jiného měkkého materiálu poškodí dyneemu mnohem rychleji,
            než běžné lezecké lano (které teda také nedoporučujeme třít o jiné lano).
            <br><br class="small">
            <i>
                *
                <a href="https://www.dsm.com/dyneema/en_GB/applications/ropes-lines-slings-chains/mooring-and-tow-ropes/high-and-low-temperature-performance.html"
                   target="_blank">Dyneema SK78</a>
            </i>
        </div>
    </div>

    <div class="row flex-md-row flex-column-reverse mt-3">
        <div class="col-12 col-md-4">
            <img src="/images/metodika/materialy/materialy_vectran.jpg" class="w-100">
        </div>
        <div class="col-12 col-md-8">
            <h5 id="vectran">Vectran</h5>
            Vectran (označení pro textilní vlákna z tekutých polymerů) je lehký, pevný,
            tepelně odolný, ale také extrémně drahý materiál.
            Kvůli jeho vysoké ceně a nízké odolnosti vůči UV záření z něj byl vyroben pouze jeden popruh:
            <br><br>
            SPIDER SILK, který přišel ve 3 verzích od Balance Community, nabízel verzi SPIDER SILK MK3 - 20mm široký popruh z dyneemy a vectranu.
            <br><br>
            Více o srovnání Hi-Tech materiálů se můžeš dozvědět v
            <a href="https://user.xmission.com/~tmoyer/testing/High_Strength_Cord.pdf" target="_blank">tomto PDF</a> (EN).
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <h5 id="polypropylen" class="mt-4">Polypropylen</h5>
            Polypropylen je levný materiál, se kterým se často setkáš v lodním průmyslu, protože stejně jako dyneema na hladině plave.
            Z pravidla nebývá moc pevný, takže se u highline vyskytuje většinou jen ve formě přetahovacího lanka.<br><br>
            Takové lano je - navzdory své nízké váze - poměrně těžko sbalitelné, takže 300m repka z polypropylenu může zabrat dost místa.
            Operování s repkou z polypropylenu není dvakrát příjemné, doporučujeme používat rukavice.<br><br>
            Lana z polypropylenu NEJSOU vhodná k zajištění sebe nebo pro permanentní použití. Nejen díky nízké pevnosti materiálu, ale také díky jeho nízké
            odolnosti proti UV záření.
        </div>
        <div class="col-12 col-md-4">
            <img src="/images/metodika/materialy/materialy_polypropylen.jpg" class="w-75">
        </div>
    </div>



    <div class="row align-items-center flex-md-row flex-column-reverse">
        <div class="col-12 col-md-4"><img src="/images/metodika/materialy/materialy_steel.jpg" class="w-100"></div>
        <div class="col-12 col-md-8">
            <h5 id="ocel" class="mt-3">Ocel</h5>
            <p>
                Nerezová ocel je měřítkem pevnosti, se kterým srovnáváme vše ostatní. Když máš pochybnosti, je to vždy ta nejbezpečnější možnost.
                Hlavní výhodou oceli je, že nepraskne při opakovaném zatížení k pracovnímu limitu (viz cyklické zatížení u hliníku).
                Ocelových slitin existuje opravdu veliké množství, pro slackline se nejčastěji používají různé druhy nerezové a pozinkované oceli s vysokou pevností v tahu.
                <br><br>
                Z méně kvalitní oceli se vyrábí levné šekly a mailony, které jsou často k dostání v kutilských obchodech.
                Ty praskají při mnohem nižších silách v porovnání s výrobky z kvalitní oceli. Určitě se vyplatí kupovat z ověřeného obchodu.
                <br><br>
                Další výhodou oceli je ta, že se většinou nejdříve výrazně zdeformuje, než praskne. Existuje tedy velká šance, že si všimneš problému dříve,
                než nastane katastrofický scénář.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 id="hlinik" class="mt-3">Hliník</h5>
            <p>
                S hmotností přibližně o polovinu nižší než ocel jsou hliníkové slitiny standardem v lezeckém světě a také nejčastěji používanou
                alternativou k oceli ve světě slackliningu. U našeho vybavení se nejčastěji setkáme s hliníkem ve formě <br>
                2 slitin: 6061 a 7075.
                <br>
                6061 je velmi široce používaná slitina. Je levnější, snáze se eloxuje (povrchově upravuje) a je plně vhodný pro většinu použití.
                <br>
                7075 je silnější a má lepší poměr pevnost / hmotnost než je tomu u 6061, ovšem za cenu vyšších nákladů.
            </p>
        </div>
    </div>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-8">
            <p>
                Obě slitiny se občas nazývají „letecký hliník“ nebo Dural. Převážná většina certifikovaných karabin (lezeckých a pracovních), stejně jako kotvítka
                jsou vyrobeny ze slitiny 7075 T6 (T6 značí stav tepelné úpravy).
                <br><br>
                <b id="cyklicke-zatezovani">Únava materiálu při cyklickém zatěžování</b> je jedním z hlavních argumentů, proč nepoužíváme hliníkové karabiny při kotvení highline.
                Jak cyklcké zatížení funguje?
                <br><br>
                Když jsou kovy opakovaně vystaveny zatížení, unaví se (ztratí část pevnosti) a s každým dalším cyklem se materiál více unavuje.
                Čím více se působící síla blíží pevnosti materiálu, tím více se materiál unavuje. Cyklus si můžeš představit jako jakékoli
                zatížení a uvolnění kovu - v slackline světě to znamená, že každé zhoupnutí, pád do odsedky, chycení lajny nebo oscilaci
                ve větru můžeme považovat za cyklus, asi si dokážeš představit, jak rychle se sčítají.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/materialy/materialy_aluminium.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Působící síla musí dosahovat alespoň 30%, né-li 40% pevnosti materiálu, abychom začali pozorovat efekty
                cyklického zatížení. Jelikož kotvítka jsou běžně konstruována z velmi kvalitního hliníku s pevností převyšující 50kN,
                nevyvineme dostatečnou sílu abychom materiál podstatně unavili. Více o vlivu cyklického zatěžování na duralová kotvítka se
                můžeš dozvědět v reportech ISA (
                <a href="https://data.slacklineinternational.org/publications/highline/cyclic-loading-tests-2021.pdf/" target="_blank">
                    Cyclic loading test</a> (EN)
                ,

                <a href="https://data.slacklineinternational.org/publications/highline/cyclic-loading-tests-ii-2021.pdf/" target="_blank">
                    Cyclic loading test 2</a> (EN) ).
                <br><br>
                Ocel se oproti hliníku unavuje jen určitý počet cyklů a poté se její pevnost už dále nesnižuje, nehledě na to,
                kolikrát se poté ještě cyklicky zatíží. Hliník se s přibývajícími cykly unavuje čím dál více, začnou se v
                něm vytvářet mikropraskliny až nakonec praskne.
                <br><br>
                Více informací o mezi únavy se <a href="https://en.wikipedia.org/wiki/Fatigue_limit" target="_blank">dočteš zde.</a> (EN)
            </p>
        </div>
        <div class="col-md-4">
            Jak už bylo zmíněno, hliníkový spoj potřebuje zátěž kolem 30-40% jeho pevnostního limitu, abychom pozorovali efekty cyklického zatížení.
            Tedy 24kN hliníková karabina použitá na napnuté longline ve větrném dni může být vážně poškozena. Kotvítka s certifikací
            od 50kN+ mohou být vyrobena z hliníku, jelikož síly, které na ně budou působit nebudou dostatečné k tomu, aby je cyklické zatížení poškodilo.
            <br><br>
            Kruhy k odsedkám se také občas vyrábí z hliníku a to ze stejného důvodu, jelikož nevyvineme dostatečný počet cyklů při vysokém zatížení.
            <br><br>
            Tato <a href="http://web.mit.edu/sp255/www/reference_vault/Fatigue_Presentation.pdf" target="_blank">studie z MIT</a> testovala skutečné karabiny.
            Studie netestovala efekt cyklického zatížení se zavřeným zámkem pod 8kN, naše predikce je, že karabiny vydrží velmi mnoho cyklů, pokud jsou zatíženy silou 2-4kN.
            <br>
            Můžeme se podívat na tabulku výsledků testů ze studie zde:
        </div>
        <div class="col-12 col-md-8">
            <img src="/images/metodika/materialy/materialy_cyclic_loading_1.png" class="d-block w-100 m-auto mt-2 mb-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Krátká verze: <u>Nikdy nepoužívej hliníkové karabiny ke kotvení</u>. <br>
            Nikdy nepoužívej karabinu ke spojení odsedky a highliny, jelikož se při pádu může otevřít a můžeš zemřít.
        </div>
    </div>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-4">
            <img src="/images/metodika/materialy/materialy_titan.png" class="p-3 w-100">
        </div>
        <div class="col-md-8">
            <h5 id="titan" class="mt-3">Titan</h5>
            <p class="mb-5">
                Přibližně o 2 třetiny těžší než hliník. S hliníkem sdílí většinu ostatních vlastností, krom toho, že je titan
                podstatně pevnější, takže je pro dosažení stejné pevnosti u vybavení potřeba méně materiálu. Další jeho výhodou oproti hliníku je,
                že se před selháním ohýbá. I přes to, že je titan výbornou volbou v poměru váha / pevnost, však kvůli podstatně vyšší ceně nenašel
                v highline komunitě moc využití.
                <br><br>
                Můžeš najít titanové kruhy k odsedce, očekávej však, že za ně zaplatíš několikanásobně víc, než bys zaplatil za
                srovnatelné hliníkové nebo nerezové kruhy. Na druhou stranu získáš pocit uspokojení. Uspokojení z toho, že jsi
                zaplatili hodně za něco, co nebylo vůbec potřeba.
            </p>
        </div>
    </div>


    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
        </div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/vybava" class="btn btn-primary">Pokračuj na: Výbava</a>
        </div>
    </div>

</div>
