
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Přírodní kotvení</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Na hraně</h2>
<h4 class="text-center text-black-50 pb-4">“Nasrat na bezpečný lajny”</h4>

<p>
    Nemám sebemenší zájem na tom brzdit Darwinovu evoluci. Pokud umřeš, protože jsi blbec… no, tak škoda pro všechny zúčastněné, ale byl jsi blbec.
    Pokud umřeš kvůli nedostatku znalostí, protože ti někdo zamlčel informace, které by tě ochránili… no, to je pak jiná.
    <br><br>
    Cílem této stránky a veškeré činnosti kolem je motivovat lidi k diskuzi. K diskuzi mezi sebou, se skutečnými fakty, ne s MBS, teoriemi a pověstmi.
    Rozhodně doporučuji mít vše redundantní, mít bezpečnostní faktor 5:1 a být cvaknutý, pokud se pohybuješ na kraji skály… nicméně.

Být trochu na hraně může být tak trochu formou umění… Být na hraně zde znamená porušovat pravidla z nějakého vyššího důvodu, například kvůli možnosti jít nalehko, napnout lajnu a rychle ji sundat na místech, kde by ses mohl kvůli tomu dostat do problémů.

Někteří lidé dělají nebezpečné věci z nedostatku znalostí nebo důslednosti, a to rozhodně není v pořádku. Je to nebezpečné jak jim, tak ostatním účastníkům takové akce. Pokud tahám lajnu sám pro sebe, rád volím setup nalehko a narychlo, jelikož pravidla znám dobře a vím, co můžu porušit. Jedná se o mé rozhodnutí, nikdy bych však na takovou highline nepustil ostatní, pokud by to ohrozilo jejich život. Pokud taháme highline na festivalech, vždy musíme respektovat bezpečnostní standardy, na kterých se domluvíme. Vždy se snažíme o co nejbezpečnější a nejprofesionálnější kotvení. Na highline festivalech nejsou kotvení předimenzovaná kvůli nedostatku zkušeností, ale kvůli dobrému pocitu účastníků a kvůli dobrému příkladu pro nováčky, kteří kotvení vidí poprvé v životě. Když na kotvení závisí životy ostatních, mělo by vždy mít vyšší bezpečnostní standard, než který by stačil tobě.

Není to vždy jen o lenosti nebo o tom dokázat někomu, že používat systém s nižší bezpečnostní nevadí. Občas se může stát, že máš velmi omezené možnosti, nebo si zapomněl klíčovou část výbavy. Málokdy jsi v ideální situaci a je dobré, když se umíš co nejbezpečněji přizpůsobit - dle mého názoru je lepší učit “bezpečný sex”, než “abstinenci”, převedeno na naší situaci, jak se chovat “na hraně”, než se tomuto tématu úplně vyhýbat.

Takže jestli se nechystáš umřít ve 100 letech obklopen lidmi, kteří tě milují, umři radši při něčem fakt skvělém a ne protože ty, nebo někdo jiný, udělal hloupou chybu. Podívejme se na některé body, které byly porušeny a na myšlenky za nimi:

Zakotvení main lajny za jednu plaketu a backup za druhou. Technicky je zde stále redundance, nicméně nepoužíváme zde kotvící materiál. Jelikož plakety jsou většinou umístěny u hrany, bandáže jsou zde téměř nutností.
Použití pouze 1 lajny. Jen velmi výjimečně se lajna přetrhne. Lezci používají jedno lano téměř pořád. Pokud taháš “rychlovku” (napnout, přejít, sbalit během minut), nebo se chystáš na ultralight vysokohorskou highline, může (a nemusí) to být oprávněný názor. Každopádně bandáže jsou zde VELMI VELMI důležité.
Free solo. Pevně věřím, že do free sola se člověk pouští jen v případě, že si je 100% jistý tím, že lajnu přejde, je si 100% okolím a počasím a je si 100% jistý svou schopností chytit lajnu při pádu. Tak jako tak by free solo mělo být věcí velmi úzké skupiny lidí a rozhodně by k němu nemělo docházet na festivalech, kde by případný pád mohl ovlivnit mnoho lidí.
Droning tag lines across a gap with taped open carabiners and then scooting across them is very sketchy, but can be the most efficient way to tag a line if time is of the essence. In this video we break test the cord Andy Lewis used and he was putting almost the same force on that line as it breaks at. Now that is sketch!
Sopečná highlině natažená za laciné nýty natlučené do vulkanické půdy tak, že šli vytáhnout jen rukou. Nicméně neexistoval jiný způsob, jak tuto highline napnout. Nýty byli několikrát otestovány ve stejném povrchu a vždy vydrželi tah přes 20kN. Více na videu: https://www.youtube.com/watch?v=TZtsUUhAeZs
Na tomto videu (https://www.youtube.com/watch?v=_oCNUxXu6gI) Ryan Jenks natáhl highline na statické straně za 1 friend a 1 bolt napůl trčící ven. Nicméně zde bylo lano přivázané ke stromu jako backup. Tak samě došlo k porušení ještě jednoho pravidla a to použití karabin a smyce místo odsedky, z důvodu znovupoužití materiálu a úspoře váhy. Ryan umístil karabiny zámky proti sobě a spojil je tejpou dohromady. Nicméně i tak do nich neplánoval padat.
● Almost all of our lines in Iceland had some sketch in them, but our first one takes the cake. We built a deadman anchor on a mossy hill. You can see all of it in this video where the hole we dug was down, but it was pulling sideways on it so we only got 50% value out of the hole, plus most of the hole was just moss. I had to stand on the anchor in order for it to not move as much when people were whipping. We chose to back this up by rappelling down the back of it and installing some sketch bolts in some sketch rock to help hold if the dead man anchor were to come out. The other side was rocks we drilled that were smaller than suitcases partially buried in the dirt. We had enough of them that it was super good enough.


Prosím, snaž se takovým situacím vyvarovat, ale zároveň bys měl vědět, jak pravidal porušit a být připravený se takovým situacím přizpůsobit. Přemýšlej nad tím, jaká pravidla porušit můžeš a jaká ne. A plně si uvědomuj, co a proč to děláš. Buď připravený na to se sebrat a odejít, než se řadou kompromisů dostat do sitace, ve které by ses vůbec nechtěl ocitnout.
Není cool umřít proto, protože nevíš, co děláš.
