<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Přírodní kotvení</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Přírodní kotvení</h2>
<h4 class="text-center text-black-50 pb-4">“Když ti dojdou baterky ve vrtačce”</h4>
<div class="px-3">
    <p>
        Přírodní kotvení je u nás v Česku poměrně rozšířené. Je to dáno jak materiálem (Na měkkých pískovcových skalách je, až na pár
        výjimek, zakázáno kotvit za nýty / borháky / kruhy), tak i prostředím (spousta highlinových spotů má dobré přírodní kotvení).
        Jedná se rozhodně o šetrnější způsob tahání highline, než vrtání do skály, zároveň je ale mnohem náročnější jak časově, tak logisticky.
        Možná právě tato výzva, spolu s pocitem, že po sobě člověk nezanechává žádné stopy, dělá tento způsob tahání poměrně populární.
        <br><br>
        Názory už se začínají lišit, když přijde řeč na používání jistících prvku z tradičního lezení ke kotvení.
        Na mysli máme vklíněnce, friendy a hexy, které když víš jak zakládat, není to vlastně žádná věda… ale to
        není ani highlining, když víš co dělat.
    </p>

    <p>
        <div class="row align-items-center">
            <div class="col-md-7">
                Nejedná se však o něco, co bychom mohli lehce standardizovat a říct veřejnosti, co je to správně a co naopak ne.
                Stejně tak pokud zakopeme kotvu do země, bude hrát roli typ hlíny / písku, úhel pod kterým síla působí a i jen změna
                vlhkosti může hrát velkou roli. Více si o tomto povíme v následujících odstavcích.
                <br><br>
                <h5 id="obvazovani-stromu">Obvazování stromů</h5>
                Předpokládám, že už jsi slacklinu zkoušel předtím, než se chystáš tahat highline… jestli ne, tak běž a zkoušej…. Vítej zpět…
                teď proč bys měl ke kotvení highline používat strom? Stormy často rostou na krajích skal, některé jsou dokonce tak silné,
                že si můžeš natáhnout midline mezi nimi.
                <br><br>
                Pojďme se podívat na to, jak velikost stromu hraje roli a jak kotvit za stromy. Pokud zakotvíš tutový strom u jeho špičky,
                no, je tu velká šance, že se zlomí a ty umřeš. Nebo zakotvíš za tenký strom u kraje skály a … umřeš. Nebo použiješ velký strom,
                který roste na rozbahněném kopci a bum, vyrveš celý strom. Je dobré kotvit u země a pokud je to potřeba, přes jiný strom či A frame zvednout master point.
                <br><br>
                O redundanci <a href="/kotveni#redundance" target="_blank">už jsme mluvili</a>, nicméně rád bych to zmínil znovu. Neuvazuj backup k jinému stromu!
                Víš, co se stane, pokud se hlavní strom zlomí? Budeš k němu přivázaný, až poletí dolů ze skály… věř stromu…
                a pak ho pojisti za jiný strom (ve směru síly), takže se síla rozloží mezi tyto 2 stromy (To samé platí i pro kameny).
                <br><br>Případně můžeš vyvázat více stromů do jednoho bodu - a rozložit tak sílu, která působí na každý z nich.
            </div>
            <div class="col-md-5 text-center">
                <img src="/images/metodika/prirodni-kotveni/prirodni_kotveni_tree.png" class="w-75">
            </div>
        </div>
    </p>
    <b>Tipy pro kotvení za strom</b>
    <ul>
        <li>Ověř si, že se nedotýkáš prsty, když se snažíš obejmout strom, pokud se chystáš za něj kotvit bez další podpory (např. Vyvázání dalšího stromu)
        <li>Vem v potaz půdu, ve které strom roste. Představ si, jak drží v zemi, jaká je kolem hlína a jak hluboko má kořeny.
        <li>Nepršelo v nedávné době a jak to může ovlivnit stabilitu stromu?
        <li>Není strom moc blízko okraje? Nejsou pod okrajem skály vidět odkryté kořeny?
        <li>Naopak není strom moc daleko od kraje? Pokud zakotvíš highlinu 2m vysoko na stromě, který je 6m od kraje,
        riskuješ odření lajny. Nikdy nechceš, aby se lajna čehokoliv dotýkala.
        <li>Je strom živý? Pokud nechceš být mrtvý ty, nekotvi za mrtvé stromy. Častým znakem toho, že strom je
        mrtvý mohou být houby vyrůstající z jeho kořenů, dutý zvuk, pokud poklepeš na kmen. I živý strom může mít mrtvou část,
        která se při otřesech může ulomit a při pádu přetrhnout lajnu.
        <li>Pamatuj že stromy jsou mnohem pevnější u země, než 2 metry od země. Pokud potřebuješ master point dostat výše, můžeš uvázat spanset
        u země a použít <a href="/a-frames" target="_blank">A-Frame</a> ke zvednutí, popřípadě využít jiný strom k vyvázání nebo použít cokoliv
        přírodního (kámen, kmen) ke zvednutí kotvení.
    </ul>
    <br><br>

    <h5 id="obvazovani-kamenu">Obvazování kamenů</h5>
    <p>
        Nechceš, aby kámen, za který kotvíš highline během chození spadl dolů ze skály, jelikož lajna je k němu přidělaná.
        Občas může být obvázaný menší kámen, pokud je za větším kamenem, který mu brání v pohybu, speciálně v případech, kdy
        tento větší kámen funguje pro zvednutí spansetu. Nezáleží ani tolik na velikosti kamene, nýbrž o to, jak je spojen se zemí.
        Obzvláště opatrný bys měl být při kotvení v pískovcových oblastech, nejenže je pískovec mnohem náchylnější na odření,
        ale často se stává, že jsou pískovcové bloky jen volně položeny na vrcholku a nejsou vůbec spojeny se skálou.
        Co tedy při výběru vhodného kamene vzít v úvahu?
        <br><br>
        <b>Velikost:</b> To, jak kámen vyvážeš, je pravděpodobně mnohem důležitější, než jeho velikost. Nicméně stále je
        velikost poměrně důležitým rozhodovacím faktorem. Kus skály, který se zdál jako dostatečně velký, se na
        prudkém kopci v Brazílii svalil ze skály během toho, co na něm byl lajner, což mělo za následek jeho smrt.
        Kámen nemusí mít nutně pokaždé velikost auta, aby byl bezpečný. Občas stačí i kámen velikosti ledničky,
        ale vybírej s rozvahou!
        <br><br>
        <b>Typ obhozu:</b> Existuje několik možností, jak obhodit kus skály. Např. na dvojito nebo liščí smyčkou tak,
        jako bychom obhazovali strom. Další možností je “na škorpióna”, tedy obvázat kámen a liščí smyčku umístit na opačnou
        stranu, než chceme mít hlavní bod kotvení, poté zbytek spansetu ze smyčky přehodit přes kámen (což může připomínat ocas škorpióna).
        <br>
        <b class="text-danger">Varování:</b> Při takovém uvázání působí na horní část kamene mnohem větší síla. Ověř si, že je kámen dostatečně
        stabilní a že ho tato síla nemůže posunout předtím, než začneš napínat!
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <b>Tvar:</b> Tvar, obzvláště na našich pískovcích, hraje velkou roli. Dávat spanset na kámen, který je oblý,
                není úplně ideální.
                <br><br>
                <b>Bandáže:</b> Jakkoliv kámen obvážeš, každá část, která se tře musí být podložená. Ideálně podložit všechny části,
                kde spanset / lano přichází do kontaktu se skálou. U velkých obhozů to ne vždy je možné. Ostré hrany jsou druhá
                největší priorita, hned po pohyblivých částech, které by se mohli třením přepálit.
                <br><br>
                <b>Vyrovnání:</b> Můžeš obhodit více, než jeden kámen. Taktéž se může jednat jen o jeden z několika bodů kotvení,
                které vyvážeš přes sliding x nebo BFK. To ti může pomoc rozdělit sílu působicí na hlavní bod mezi ostatní body kotvení.
                Pamatuj však na to, že pokud jeden z nich spadne, ty padáš taky. Pokud je skála opravdu tutová, můžeš jí obvázat více
                materiály, takže získáš redundanci např. Pro případ, že by se přetrhl spanset nebo lano.
            </div>
            <div class="col-md-4">
                <img src="/images/metodika/prirodni-kotveni/prirodni_kotveni_boulder_padding.png" class="w-100 p-2">
            </div>
        </div>
    </p>
    <br>
    <h5 id="zakopavani-kotveni">Zakopávání kotvení</h5>
    <p>
        Poblíž není nic k obhození, tvůj kamarád už vzteky zahodil vrtačku z rozbláceného svahu a vše vypadá beznadějně... možná ne.
        Právě teď přichází čas na to něco zakopat. V zahraničí se pro tento typ kotvení hojně používá název Dead man anchor.
        Pokud něco obhodíš a zakopeš to pod zem, můžeš za to kotvit highline. A tak jako u všeho, můžeš to posrat a umřít.
        <br><br>
        Pojďme se tedy “zakopat” trochu do hloubky:
        <br><br>
        <b>Jak pevné je takové kotvení?</b><br>
        No, kdo ví… všechny jsou jiné. V ideálním případě chceš, aby se nejdříve přetrhnul spanset, ale nejdřív něco k silám,
        které na kotvení působí - spanset vytažený přes A frame pod úhlem 45° na kotvení působí silou 1,41 krát větší, než působí
        lajna na spanset. Pokud by spanset ze země vycházel téměř rovně, může na kotvení působit silou několikanásobně větší,
        než působí lajna.
        <br><br>
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="/images/metodika/prirodni-kotveni/prirodni_kotveni_deadman.png" class="w-100">
            </div>
            <div class="col-md-7">
                <b>Co můžeme zakopat?</b><br>
                Cokoliv kovového, kámen, dřevo nebo člověka, který s ničím nepomáhá a objeví se vždy až když je napnuto.
                Cokoliv pevného by mělo být dostatečné.
                <br>
                Zakopat se dá také batoh naplněný pískem / hlínou. Je dobré použít dobrý, odolný batoh, aby nedošlo k jeho roztržení.
                <br><br>
                <b>Čím obvazovat?</b><br>
                Lano bude fungovat, ale je potřeba mít několik pramenů vycházejících ze země, aby byla dosažena dostatečná síla.
                Lano se navíc bude protahovat pod tahem, což v zemi může poškodit lano. Spansety jsou pro toto ideální, jelikož
                jsou velmi odolné proti prodření a nejsou průtažné. Občas můžeme vidět řetěz, který je spíše vhodný pro permanentní lajny.
            </div>
        </div>
        <br><br>
        <b>Jak hluboko kopat?</b><br>
        Tak moc, abys neumřel + 30 čísel… “To záleží” by možná byla přesnější odpověď. Muselo by se jednat o velmi speciální
        hlínu, aby stačilo na zakopání méně než metr. Ve většině případů chceme cílit na hloubku ~ 2 metry.
        Vlhká hlína se udusá snáz, než načechraná půda. Pokud stojíš NA zakopaném kotvení a cítíš pohyb pokaždé,
        když tvůj kamarád spadne do odsedky, asi jsi neodvedl úplně dobrou práci. Nebuď líný kopáč, buď unavený kopáč, který přežije!
        <br><br>
        <u>Poznámka:</u> Můžeš vykopat 2 díry vedle sebe a vyvázat je do jednoho spansetu, nicméně každý jednotlivý prvek by měl být schopný sám udržet highline.
    </p>

    <!--<h5 id="zatloukani-kulu">Zatloukání kůlů</h5>
    <p>
        Do země můžeme zatlouct kůly nebo tyče. Jedná se o poměrně složitý způsob napínání z hlediska odhadnutí, zda vydrží nebo ne.
        Takže trochu z praxe:<br><br>
        ToDo
    </p>-->
</div>

<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/kotveni" class="btn btn-primary">Zpět na: Kotvení</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/master-point" class="btn btn-primary">Pokračuj na: Master point</a>
    </div>
</div>

