<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Uzly</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Uzly</h2>
<h4 class="text-center text-black-50 pb-4">“Hlavně se do toho nezamotat”</h4>

<div class="px-3">
    <p>
        Highlineři používají jen několik málo uzlů ze stovek existujících. Internet je plný návodů a videí, jak uzly
        uvázat,
        budeme se tedy soustředit spíše na to, jaké uzly jsou užitečné a kdy je použít. Neboj, v praxi je budeš
        procvičovat
        při tahání highline dost často. Měj na paměti, že u jakéhokoliv uzlu, který uvážeš, můžeš očekávat snížení
        pevnosti
        přibližně o 50%.
    </p>
    <br>

    <h5>Uzly pro kotvení highliny:</h5>
    <div class="row align-items-center">
        <div class="col-12 col-sm-7">
            <b>Vůdcovský uzel (Overhand knot)</b>
            <p>
                Uzel, který se většina naučí už ve školce. Pokud máš na botách tkaničky, je velká šance, že ho umíš
                uvázat.
                Pokud na jednom konci lajny uvážeš vůdcovský uzel, můžeš ho sledovat zpět koncem lajny a spojit tak 2
                lajny.
                Ploché popruhy, narozdíl od lana, mohou být takto spojeny. Pokud bys tak spojil 2 lana, uzel by se pod
                tahem kroutil a prokluzoval.
            </p>
        </div>
        <div class="col-12 col-sm-5">
            <div class="row text-center">
                <div class="col-12">
                    <img src="/images/metodika/uzly/overhand.png" class="w-75" alt="Vudcovsky uzel">
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-sm-6">
            <p>
                <b>Osmičkový uzel (Figure 8)</b><br>
                Pravděpodobně nejpoužívanější uzel v lezeckém světě. Snadno se pozná, lehce se naučí a najdeš ho skoro
                všude.
                Je to vůdcovský uzel s jednou další otočkou a překvapivě tvarem připomíná osmičku.
                <br><br>
                Na sedák se uvážeš tak, že uděláš osmičku asi 1 metr od konce lana, protáhneš oky sedáku a budeš
                sledovat pramen lana zpět uzlem.
                Můžeš s ním spojit 2 konce lan, pokud ho uvážeš tak, že přehneš lano na dvojito, vytvoříš tím smyčku,
                do které můžeš cvaknout materiál.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/images/metodika/uzly/figure8.png" class="w-100 mt-2 mt-xl-0" alt="Osmickovy uzel">
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-4"></div>
        <div class="col-8"><b>Devítkový uzel (Figure 9)</b></div>
    </div>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-xs-4 col-md-4">
            <img src="/images/metodika/uzly/unfinished_9.png" class="w-100">
        </div>
        <div class="col-md-8">
            <br>
            <p>
                Devítkový uzel je osmičkový uzel s jednou otočkou navíc. Touto logikou by se tedy vůdcovský uzel měl
                nazývat sedmičkový, prože devítkový uzel toho s číslem 9 taky moc společného nemá, ale nechme toto téma.
                Teorie je taková, že jde po zatížení snáze rozvázat, oproti klasické osmičce, žádné další výhody však
                nepřináší a není používán téměř nikde.
                <br><br>
                <b>Nedokončený devítkový uzel (Unfinished figure 9)</b> vznikne, pokud nedokončíme poslední
                krok a smyčku přehneme a přehneme vzniklá oka přes sebe.
                Nejlépe je to vidět na <a href="https://www.youtube.com/watch?v=4VJbUknxGRE" target="_blank">videu od
                ISA</a> (EN).
                <br>
                Nedokončený devítkový uzel je poměrně složitý na kontrolu a pokud necvakneš správné prameny lana, stane
                se z něj prokluzující uzel, který se pod zatížením rozváže.
            </p>
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <img src="/images/metodika/uzly/figure9.png" class="w-75">
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-8">
            <b>Liščí smyčka</b>
            <p>
                Pokud smyčku nebo spanset protáhneš kolem objektu a pak prostrčíš skrz sebe sama, čím více budeš za
                volný pramen tahat, tím více bude stahovat daný objekt uvnitř.
                Spansety kolem stromu jsou klasický příklad. Můžeš tak spojit 2 smyčky dohromady. Pokud uvážeš liščí
                smyčku na zadní straně objektu, který obvazuješ a vyvedeš
                konec na objekt, můžeš tak zvednout master point tvého kotvení. V angličtině se pro tento typ uvázání
                používá slovo "scorpion".
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/uzly/girth_hitch.png" class="w-100">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <b>Basket hitch</b>
            <p>
                Jedná se v podstatě o přehnutí smyčky nebo spansetu kolem objektu, popřípadě jiné smyčky v půlce a tím
                snížení délky na půl.
                Používaný zejména když je potřeba prodloužit kotvení, ale nechceme ho prodloužit o celou délku spansetu.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/images/metodika/uzly/uzly_basket_hitch.png" class="w-100">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-3 text-end">
            <img src="/images/metodika/uzly/bowline.png" class="w-75">
        </div>
        <div class="col-md-9">
            <b>Dračí smyčka (Bowline)</b>
            <p>
                Uvázat tenhle uzel vyžaduje trochu cviku, ale na druhou stranu není potřeba vázat osmičku před tím, než
                obhazuješ objekt.
                Jen uvážeš konec lana kdekoliv chceš ukončit smyčku a toť vše. Můžeš ho použít při slaňování, nebo se s
                ním navázat na sedák.
                Po zatížení se také lepé rozvazuje v porovnání s osmičkovým uzlem. Snáze se při jeho vázání udělá chyba
                a není tak
                jednoduchý na zkontrolování, není tedy nijak široce využívaný.
            </p>
        </div>
    </div>
    <hr>
    <b>Dvojitý / Trojitý rybářský uzel</b>
    <p>Tyto uzly kroutí lano na sebe tak, že vznikne ve středu díra, kterou se poté prostrčí konec lana. Pokud to uděláš
        na
        jednom konci lana, právě jsi uvázal pojišťovák (stopper knot), takže neproklouzneš při slaňování. Často se také
        váže kolem lana na konci osmičkového uzle jako pojistka, i když toto není potřeba.
        <br><br>
        Pokud položíš 2 konce lana
        vedle sebe, tak aby konce směřovali proti sobě a uvážeš rybářskou smyčku na obou koncích, můžeš tak spojit 2
        lana k
        sobě. Dvě otočky jsou dvojitá smyčka, 3 otočky trojitá a tak dále, teorie je taková, že čím více otoček, tím
        lépe půjde uzel rozvázat, to se však v praxi ukázalo, jako ne tak úplně pravda. Z toho co zatím víme, počet
        otoček neovlivňuje pevnost uzlu. <br><br>
        Pokud uděláš smyčku a pak kolem pramenu uvážeš rybářský uzel,
        bude se smyčka pod tahem sama utahovat.
    </p>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/images/metodika/uzly/fisherman_d.png" class="w-75" alt="Dvojita rybarska smycka">
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/metodika/uzly/fisherman_t.png" class="w-75" alt="Trojita rybarska smycka">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <b>Upravitelná smyčka</b>

            <p>
                Sešité smyčky, jako např. Spansety nebo lezecké smyce jsou překvapivě nastavitelné. Stačí uprostřed
                vytvořit X a
                spodní část omotat kolem horního pramene jako na <a href="https://www.youtube.com/watch?v=0LMndekqu_g"
                                                                    target="_blank">tomto videu</a> (EN).
                To může být velmi užitečné, pokud chceš spanset upravit na přesnou délku.
            </p>
        </div>
        <div class="col-md-6"><img src="/images/metodika/uzly/adjust_sling.jpg" class="w-100" alt="Upravitelna smycka">
        </div>
    </div>
    <br>
    <hr>
    <b id="bfk">BFK, Figure 8 BFK, Tailless BFK</b>
    <p>
        Pokud máš 2 nebo více nýtů, ze kterých se lano potkává v jednom bodě, ve kterém ze všech pramenů lana nebo
        smyčky
        uvážeš uzel, nazývá se takový uzel “Big fucking knot”, zkráceně BFK. Klasický vůdcovský uzel může být BFK,
        jedna otočka navíc a máme osmičkový BFK. Pokud jsou oba konce lana mimo uzel, nazýváme takový BFK “tailless”
        (ačkoliv konce má, většinou docela dlouhé).

        Takové uzly jsou pro kotvení poměrně oblíbené. Čím větší BFK je, tím lépe se
        rozvazuje a tím méně snižuje pevnost, jelikož poloměr ohybu je větší.
    </p>

    <div class="row">
        <div class="col-md-12">
            <img src="/images/metodika/uzly/bfk.png" class="w-100">
        </div>
    </div>
    <hr>
    <div class="row flex-column-reverese flex-md-row align-items-center">
        <div class="col-md-6">
            <img src="/images/metodika/uzly/uzly_sliding_x.png" class="w-100">
        </div>
        <div class="col-md-6">
            <b>Sliding X</b>
            <p>
                Sliding X je smyce ve tvaru V vycházející z 2 kotvících bodů. Jeden pramen je otočený o 180° aby v
                případě selhání jednoho z kotvících bodů zachytil pád. V případě budování sliding x ze 3 nebo 4
                kotvících bodů se kotvení může začít kroutit (otáčet do strany). Při kotvení za více než 2 jistící body
                vždy provlékneme lano / smyci od master pointu ke kotevnímu bodu a zpět, takto opakujeme pro všechny
                kotvící body.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                Double sliding X (2 kotvící body) se často využívá s dlouhými lezeckými smycemi (např. 240cm), kdy smyci
                zkrátíš přeložením na polovinu její délky čímž také zvýšíš pevnost.
                Přehni smyci na půl, cvakni do jistících bodů a otoč vnitřní 2 prameny (ne vnější) - ověř si,
                že je uzel uvázaný správně tím, že jeden jistící bod vycvakneš a zkusíš, jestli celý systém neproklouzne.
            </div>
        </div>
    </div>
</div>
<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/vybava" class="btn btn-primary">Zpět na: Výbava</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/kotveni" class="btn btn-primary">Pokračuj na: Kotvení</a>
    </div>
</div>
