<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/kotveni-a-materialy">Kotvení & Materiály</a></li>
        <li class="breadcrumb-item active" aria-current="page">Výbava</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Výbava</h2>
<h4 class="text-center text-black-50 pb-4">“Snaž se nekupovat věci, co nepotřebuješ”</h4>

<div class="px-3">
    <p class="text-center"> Nejlepší volbou je pořídit si takové vybavení, které použiješ teď i v pozdějších fázích své highlinové cesty.
        Například koupit si 5cm lajnu s ráčnou není nejlepší volba, pokud se někdy chystáš na highlinu.
        Nejen že highline nemá s 5cm lajnou nic moc společného, navíc nebudeš moci použít ani jednu část z takového setu k napínání highline.
        Stejně tak pořídit si lajnu bez šitých ok na koncích lajny tě může v budoucnu limitovat.
        <br><br>
        Pojďme si říct něco o různém vybavení, které při kotvení používáme.
    </p>


    <div class="row align-items-center">
        <div class="col-md-8">
            <h5 id="lano">Lano</h5>
            <p>Lana hrají klíčovou úlohu ve všem od kotvení, odsedky dokonce i jako backup pro highline.
                Abychom byli přesní, lanem zde myslíme takové, které splňuje certifikaci UIAA.
                <br><br>
                Lana se vyrábí z různých materiálu a různými metodami. Teď se ponoříme trochu do hloubky:
            </p>
            <b>Anatomie lana:</b>
            <ul>
                <li>
                    <b>Jádro (Core)</b> - Jádro lana je zodpovědné za většinu pevnosti. Obvykle se skládá z cca 8 pramenů
                    zapletených do sebe. Materiál jádra se může lišit od opletu. Uvnitř každého lana by se měl nacházet také malý plastový
                    pramen s informacemi o lanu, je na něm zahrnuta značka, model, velikost, materiál, číslo šarže a datum výroby.
                </li>
                <li>
                    <b>Oplet (Sheath)</b> - Co se pevnosti týče, nedělá toho oplet zas tak moc. Je ale nezbytný k ochraně jemných vláken jádra.
                    Oplet je navržen tak, aby držel jádro pohromadě a chránil ho před vnějším poškozením. Proto jsou některé pláště
                    vyrobeny z odolnějšího materiálu, než jádro.
                    <br><br>
                    <u>POZNÁMKA</u>: Ani moderní lana, které se na webu pyšní „vysokou odolností proti prodření“ nejsou 100% a při jejich využití ke
                    kotvení vyžadují bandážování, pokud by mohlo dojít k jejich prodření.
                    Malé řezy / prodření / spáleniny v opletu mohou ohrozit lano a vést k úplnému selhání.
                    Na <a href="https://www.youtube.com/watch?v=jH1fEYsnJLM">tomto videu</a> můžeš vidět, co se stane, když nůž přeřízne oplet lana.
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/vybava/vybava_rope.jpg" class="w-100">
        </div>
    </div>
    <br>
    <b>Typ lana:</b>
    <ul>
        <li><b>Statické</b> - Slovem statické zde nemyslíme elektřinu, nýbrž to, že se jedná o neprůtažné lano.
            Statická (občas také polo-statická) lana jsou navržena tak, aby nebyla moc průtažná a obecně mají robustnější oplet.
            I když o nich mluvíme jako o statických lanech, jejich průtažnost je vyšší než u nylonového popruhu.
            Jádro těchto lan může být buď z nylonu (průtažnější) nebo polyesteru (méně průtažné), ovšem obojí se pod velkým tahem protáhne.
            <br><br>
            Statická lana s jádrem z Hi-Tech materiálů (dyneema / vectran) a polyamidovým opletem sice existují,
            avšak nejsou tak častá, jsou drahá a využívají se především pro canyoning a jeskyňařinu.
            <br><br>
        </li>
        <li><b>Dynamické</b> - Tahle lana jsou navržena tak, aby měla VELKOU průtažnost. Používají se v lezení. Při zatížení váhou člověka
            se protáhnou o přibližně 10%, od 40% při dynamickém pádu do lana a o více než dvojnásobek, pokud se ho snažíte přetrhnout na trhačce.
            <br><br>
            Vzpomeň si na to, když budeš chtít použít dynamické lano jako backup blízko u země.
        </li>
    </ul>
    <br>
    <p>
        Ke <b>kotvení</b> se většinou používají statická lana, avšak výběr může záviset na aktuální situaci.
        U kratších lajn převažuje používání dynamických prvků, kdežto u delších lajn je tendence používat spíše statické prvky.
        Za zmínku stojí i možnost investice do velmi odolných lan na kotvení, jako například lana s aramidovým opletem, lana s
        jádrem z dyneemy či vectranu (určená pro canyoning) pro dobrý poměr pevnosti k hmotnosti nebo unicore lana, kde jsou plášť a jádro propletené společně
        pro zvýšení odolnosti, i když je lano částečně přeříznuto.
        <br><br>
        Pro <b>odsedku</b> je naprosto v pořádku použít jak statické tak dynamické lano.
        <br><br>
        <b>Backup</b> z lana už nebývá tak častý s přicházejícím trendem větších a prověšenějších ok backupu. U takto prověšených
        ok se zvyšuje riziko omotání lana kolem hlavní lajny a tím riziko poškození lajny. Při použití lana jako backupu je
        nejlepší volbou často tejpovat, dělat malá oka backupu a případně lano (backup) trochu napnout.
        <br><br>
        Jelikož i statické lano je na slacklinové poměry velmi průtažné, dynamické lano doporučujeme použít jen u velmi krátkých highline, kde nehrozí pád až na zem
        nebo u alpských projektů, kde se hodí znovupoužití vybavení.
    </p>
    <br>
    <b>Poškození lana</b>
    <div class="row">
        <div class="col-12 col-md-3">
            <img src="/images/metodika/vybava/vybava_core_shots.png" class="w-100">
        </div>
        <div class="col-12 col-md-9">
            <p>
                Obnažení jádra (Core shot) - konečná pro všechny lana. Kdykoliv, kdy se poškodí oplet tak, že je vidět bílé jádro lana, mluvíme o obnažení.
                Existuje mnoho variant, jak takové poškození může vypadat, nicméně vždy signalizuje, že bychom lano měli vyřadit, nebo poškozené místo odříznout.
                <br><br>
                Nejběžnější je, že budou bílá vlákna (jádro lana) vidět přes oplet, stávají se však i případy, kdy budou vlákna
                vystupovat z opletu ven. Vždy, když vidíš vnitřek svého lana, je to špatné znamení.
                <br><br>
                Dalším poškozením, méně viditelným, avšak stejně nebezpečným je, pokud oplet není viditelně poškozen, avšak jádro je poškozeno.
                Běžným testem na toto poškození je, že vezmeš lano v měkké části a ohneš ho napůl. Pokud se ohne bez mezery uvnitř,
                neplní jádro svoji funkci tak, jak má a je čas vyměnit lano.
                Je dobrým zvykem své lano pravidelně prohlížet pomalým přetahováním lana a kontrolováním v ruce.
                <br><br>
                Co si budeme, stejně hledáš výmluvu, proč si koupit nové!
                <br><br>
                POZOR: Poškozené lano bys měl vyřadit. Poškození může být téměř neviditelné, ale stejně může tvé lano znehodnotit.
                Viditelné části jádra nebo ploché části lana moho vést k úplnému selhání lana.
            </p>
        </div>
    </div>


    <h5 id="spansety">Spansety</h5>
    <div class="row align-items-center">
        <div class="col-md-7">
            <p>
                Spansety jsou průmyslové smyce používané při zvedání těžkých věcí. Pokud jste někdy viděli jeřáb zvedat náklad,
                kolem kterého byli barevné smyce, tak přesně o takových tu mluvíme - spansety! V průmyslu se jím říká nekonečné (nebo též vinuté)
                smyčky. Jsou vyrobeny z jednoho “nekonečného” kusu polyesteru smotaného několikrát do smyčky a obaleného v polyesterovém obalu.
                Extrémně pevný, odolný proti odření a s relativně nízkou cenovkou se stal jednou z nejlepších voleb pro kotvení za stromy nebo obhazování kamenů.
                <br><br>
                Pokud se chceš o spansetech dozvědět ještě více, přečti si
                <a href="https://www.balancecommunity.com/blogs/slack-science/all-about-spansets">článek od Balance Community</a> (EN) zaměřený na spansety.
            </p>
        </div>
        <div class="col-md-5"><img src="/images/metodika/vybava/vybava_spansets.png" class="w-100"></div>
    </div>
    <p>
        <br><br>
        Spansety můžeš sehnat v obchodech s vázací technikou jako např.:
        <a href="https://www.vazaci-technika.cz/cs/vinute/" target="_blank">https://www.vazaci-technika.cz/cs/vinute</a> či
        <a href="https://www.pavlinek.cz/popruhy-nekonecne-vinute-smycky" target="_blank">https://www.pavlinek.cz/popruhy-nekonecne-vinute-smycky</a><br>
        nebo ve <a href="https://www.slackshop.cz/cs/38-spansety" target="_blank">slacklinových obchodech</a>.
        <br><br>
        Dodávají se v různých pevnostech, kterým odpovídá barva opletu.
        Slacklineři nejčastěji využívají 2 nejslabší varianty - fialovou a zelenou - které jsou více než dostatečné.<br>
        Hlavním rozdílem mezi těmito dvěma je kromě pevnosti také váha.
        <br><br>
        Spansety jsou poměrně těžké v porovnání s ostatním kotvícím materiálem, fialový bude lehčí než zelený. Délka spansetu se měří při natažení, ne po obvodu.
        Většina lidí používá délky mezi 2 - 4.5m. Jelikož spansety nejsou nejlehčí, je dobré mít správnou délku, i když delší spanset ti vždy dává více možností.
        Poraď se s highlinery v tvém okolí a zjisti si, jaké délky je dobré mít v dané oblasti.
        <br><br>
        Ryan Jenks z howNot2 testoval fialové spansety
        (<a href="https://drive.google.com/drive/folders/1ejp00SZd2r_wy0eV2Hr5AtouKu2YU-gS" target="_blank">viz video</a>), které se přetrhly při síle 78kN.
        Na dvojto umístěný spanset kolem stromu bude mít téměř dvojnásobnou pevnost. Liščí smyčky nebo uzly sníží pevnost zhruba k hranici kolem 40kN.
        Tedy pro srovnání, nejslabší spanset je stále silnější, než jakákoliv lajna kterou na HL použiješ, a to včetně těchto drobných
        <a href="https://slacktivity.com/shop/ht-slackline-spanset/" target="_blank">smycí od Slacktivity</a>.
    </p>

    <h5 id="lezecke-smyce" class="mt-4">Lezecké smyčky</h5>
    <p>Lezecké smyčky jsou běžně vyráběny z nylonu, nicméně lehčí dyneemové smyčky s nylonovými okraji se těší stále větší oblibě.
        Oba typy jsou ve formě ploché smyce sešité do smyček. Dyneemová varianta je podstatně tenčí a lehčí.
        V highliningu se lezecké smyčky používají obvykle během přípravy kotvení nebo jako forma osobní ochrany (PAS) při kotvení nebo navazování.
        <br><br>
        Pokud se rozhodneš pro dyneemovou smyci na osobní ochranu (PAS), měj na paměti, že nízkoprůtažná dyneema neabsorbuje sílu a tím pádem ji lehce šokově zatížíš pádem.
        Buď drž smyčku napnutou, nebo použij nylonový popruh.
        <br><br>
        Mammut v nedávné době představil “nový” typ smyčky nazvaný “contact” sling, který připomíná malý spanset a je přirozeně také velmi statický.

        <div class="row align-items-center">
            <div class="col-md-8">
                Lezecké smyce se využívají pro samotné kotvení highline jen v ojedinělých případech, kde se kombinuje mnoho prvků tradičního jištění nebo hodně přírodních kotvení najednou.
                <br><br>
                Vícero “sliding X” zkombinováno do sebe - vytvářející tak další sliding x - se nazývá kaskádové kotvení a lezecké smyce jsou pro tento typ kotvení ideálním kandidátem.
                Jistě není dobré používat lezecké smyce pro kotvení highline kvůli jejich nízké odolnosti vůči mechanickému poškození, nicméně je
                v pořádku při použití více lezeckých smyc zapojených do sliding x či dokonce do BFK.
            </div>
            <div class="col-md-4">
                <img src="/images/metodika/vybava/vybava_sling.png" class="w-100 p-2">
            </div>
        </div>
    <br><br>
    Pokud nerozumíš výhodám a omezením použití lezeckých smyc při kotvení, nesnaž se je použít pro tyto účely.
    <br>
    Více ve <a href="https://www.youtube.com/watch?v=1XQoK7Wq_ks" target="_blank">videu</a>.
    </p>

    <h5 id="soft-shackle" class="mt-4">Soft šekl (soft shackle)</h5>
    <p>
        Představ si karabinu, která nic neváží a můžeš ji zatížit ve 2, 3 nebo dokonce 4 směrech, přičemž neztratí žádnou pevnost.
        Představ si spoj, který plave na vodě, ale je 2x pevnější než karabina. Že tě to zaujalo?
        Nás taky, vítej u našeho oblíbeného kusu vybavení… soft shackle (soft šekl).
        <br><br>
        Ty už se nějakou dobu používají v námořnictví a nedávno si našly cestu také do slacklinového světa.
        <br><br>

        <div class="row">
        <div class="col-md-4">
            <img src="/images/metodika/vybava/vybava_soft_shackle.jpg" class="w-100 p-1">
        </div>
        <div class="col-md-8">
            Když lajneři zjistili, že jsou pevnější než šekly, které používáme ke kotvení a zároveň téměř nic neváží, staly se
            soft šekly velmi populární pro spojování lajn a kotvení.
            <br><br>
            Přestože nejsou uzly pro dyneemu vhodné, soft šekly uzel vyžadují. Při napnutí uzel proklouzne, ale v případě soft
            šeklů se použitý uzel bude jen zmenšovat a utahovat. V určitém okamžiku se uzel již nebude moci zmenšovat a bude „nastaven“ nebo také „utažen“.
            <br> <br>
            Uzel se utáhne tak moc (v ideálním případě), že je tvrdý jako kámen a dokonce i zní jako kámen, když s ním praštíš o tvrdý povrch.
            Smyčka nebo oko, které je na konci soft šeklu, projde tímto uzlem a nemůže z něj vypadnout (pokud uzel špatně neuvážeš
            nebo není smyčka příliš velká).
        </div>
    </div>

        <br><br>
        Diamond knot byl populární, nicméně button knot se stal nepsaným standardem, díky tomu, že oba konce jsou svázané dozadu
        zpět po pramenech, což vytváří větší poloměr ohybu smyčky a tím jí dodává větší pevnost.
        <br><br>
        Diamond knot se trhá při 140%-170% pevnosti smyčky, ze které je uvázán. To proto, že smyčka objímá
        2 prameny (prameny vycházející z horní části uzlu), ale button knot se trhá na 200%-230%, protože smyčka objímá 4 prameny,
        protože zbylé prameny uzlu jdou zpět dolů. Tato mimořádná pevnost nám umožňuje použít 5mm dyneemové soft šekly, ideální
        pro segmentovanou lajnu, protože samotný uzel je o 25% menší než uzel u 6mm dyneemy.
        <br><br>
        Softšekly vyrobené pomocí vůdcovského uzlu mají stejný průměr smyčky, ale uzel je mnohem jednodušší uvázat.
        Vyžadují však více dyneemy a mají relativně velkou hlavu uzlu, což je obecně nepříjemné, ale zejména není možné takový soft šekl
        použít pro spojování segmentů na highlině… ale snadněji se vážou.
        <br><br>
        Záleží na tvých preferencích, pokud si nejsi jistý uvázáním button knotu a soft šekl plánuješ používat pouze pro kotvení lajny,
        může ti vyhovovat právě tato varianta. Obavy z používání soft šeklů pramení hlavně z faktu, že téměř všechny jsou po domácku vyrobené (rozuměj uvázané).
        Vázat je je zdlouhavý a ne příliš záživný proces a pokud je uvážeš špatně, nebudou fungovat. Další obavou může být to, že pokud
        spojíš softšekly se spansetem, rázem se dostáváš do situace, kdy je lano přes lano (rozuměj měkký materiál přes měkký materiál) a pokud by se
        vůči sobě pohybovali, mohou se přepálit. V případě zapojení, které jsme popsali výše, se ani softšekl ani spanset nehýbou, tedy nemůže
        dojít k propálení nebo přeříznutí.
        <br><br>
        Soft šekly vedly k inovaci způsobů, jakým se highline spojují dohromady, nicméně bouncování na highlině spojené soft šeklem v některých
        lidech stále vzbuzuje nedůvěru s tím, že by se soft šekl mohl rozvázat. Spoustu lidí toto nepovažuje za problém, jelikož i při
        sebemenším tahu je velmi obtížné soft šekl rozdělat.
        <br><br>
        Jak už jsem zmiňoval, jejich výroba může být poměrně náročná, ALE je to krok k tomu, jak se stát opravdovým highlinerem.
        Kup si 6,5m-12m 6mm dyneemy a udělej si 5 soft šeklů pro svoje kotvení a získej bobříka za highlining!
        <br><br>
        Pamatuj na to, že pro segmentované highline, kde spojuješ víc popruhů dohromady, je vhodné použít 5mm dyneemu, ale to vysvětlíme později.
        Pokud si za žádnou cenu nechceš vyrábět vlastní, mnoho slackline obchodů je prodává. Nekupuj softšekly z eBaye! Mnozí používají „chineemu“,
        což je rasistický název pro “na hovno dyneemu”.
        <br><br>
        Nikomu určitě neuškodí podpořit výrobce slacklinového vybavení.

    </p>

    <h5 id="shackle" class="mt-4">Kovové šekly (Hard shackle)</h5>
    <div class="row">
        <div class="col-md-8">
            <p>
                Kovové šekly (v česku se průmyslově používají pod názvem Třmeny) jsou to, co mají lidé na mysli když říkají pouze šekl.
                Dodávají se ve všech možných velikostech, tvarech a mohou se vyrábět z různých materiálů.
            </p>
            <b>Materiály: </b>
            <ul>
                <li>
                    <b>Galvanizovaná ocel</b> - těžká, pevná a občas přetvořená pro naše potřeby. Temperované šekly jsou super pevné
                    a dle mého názoru naprosto zbytečné pro jakoukoliv highlinu. Veškeré varianty můžeš najít na
                    <a href="https://aki-slacklines.de/en/hardware/shackles/green-pin-shackles/?p=1">stránkách Aki</a>.
                    <br><br>
                </li>
                <li>
                    <b>Nerezová ocel</b> - nejpoužívanější materiál, který se ve slackline světě využívá a aktuální standard pro kovové šekly.
                    Všechny slacklinové obchody prodávájí šekly z nerezové oceli.
                    <br><br>
                </li>
                <li>
                    <b>Hliník</b> - hliníkové šekly existují, ale nejsou v slackline / highline komunitě moc běžné.
                    Z nějakého důvodu jsou velmi oblíbené v
                    <a href="https://www.amazon.com/Razer-Auto-Precision-Aluminum-Shackle/dp/B073R4MH49">automobilovém odvětví</a>.
                    Podobně jako ostatní hliníkové vybavení, lehké ale v porovnání
                    s ocelí s mnohem menší pevností a s náchylností na mikropraskliny a únavu cyklickým zatížením.
                    I přesto je většina hliníkových šeklů dostatečně silná, aby vydržela slacklinovým požadavkům.
                    Aktuálně jediný hliníkový šekl je KINGPIN od Slacktivity.
                    Šekly používané v auto průmyslu jsou příliš velké na použití na slackline.
                </li>
            </ul>
            <p>
                Přikládáme odkaz na výborný
                <a href="https://aki-slacklines.de/en/blog/safety-and-quality-of-shackles" target="_blank">článek od Aki Slacklines</a> (EN)
                o tom, jak materiály, jejich kvalita a zpracování ovlivňují výslednou pevnost šeklů.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/vybava/vybava_shackle_omega.png" class="w-100">
        </div>
    </div>

    <br>
    <b>Tvary: </b>
    <ul>
        <li>
            <div class="row">
                <div class="col-md-3">
                    <b>Bow shackle</b> (Omega šekl)<br>
                    <img src="/images/metodika/vybava/vybava_shackle_omega_2.jpg" class="w-75 d-block m-auto mt-2">
                </div>
                <div class="col-md-9">
                    Jedná se o nejběžnější typ šeklu. Tento tvar mají lidé na mysli, když říkají “šekl”.
                    Skládá se z 2 hlavních částí, pinu a oblouku (těla). Tento šekl může být zatížen buď přímo tahem za oblouk a pin,
                    nebo příčně tahem za pin a ve 2 směrech na tělo šeklu. Pokud tělo šeklu zatížíš proti sobě, nebo šekl zatížíš
                    příčně v úhlu větším než 120°, jeho pevnost se sníží o více než 50%, používej ho tedy rozumně.
                    <br><br>
                </div>
            </div>
        </li>

        <li>
            <div class="row">
                <div class="col-md-3">
                    <b>D šekly</b>
                    <img src="/images/metodika/vybava/vybava_shackle_delta.png" class="w-75 d-block m-auto mt-2">
                </div>
                <div class="col-md-9">
                    D šekly nejsou již tak používané jako Omegy, občas se s nimi můžeme setkat u kladkových systémů a u lajnerských pamětníků.
                    Název dostaly podle svého tvaru, který připomíná písmeno “D”. Pevností se vyrovnají omega šeklům, ovšem D šekly jsou
                    navrženy pouze pro přímé zatížení na pin a tělo šeklu (část ve tvaru D), nikoliv pro zatížení ve 3 směrech.
                </div>
            </div>
        </li>

        <li>
            <div class="row">
                <div class="col-md-3">
                    <b>Twist šekly</b>
                    <img src="/images/metodika/vybava/vybava_shackle_twist.png" class="w-75 d-block m-auto mt-2">
                </div>
                <div class="col-md-9">
                    I tyto byly jeden čas velmi populární u kladkových systémů a byly považovány za základ kvalitních longline kladkových systémů.
                    Jedná se o D šekly, které mají tělo uprostřed otočené o 90°. Používali se na zadní straně kladek k otočení brzdy (Eddie, GriGri) tak,
                    aby se nedotýkala kladek. V poslední době můžeme sledovat úpadek jejich používání s příchodem napínací metody Buckingham,
                    příchodem kladek se zabudovanou brzdou a používáním VT uzlů. Stejně jako D šekly je tedy najdeš spíše ve starším vybavení.
                </div>
            </div>
        </li>
    </ul>
    <br>
    <b>Typy pinů:</b>
    <ul>
        <li>
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-10">
                    <b>Šroubovací pin</b> - Standardní šekly prodávané ve slacklinových obchodech mají pin,
                    který se dá z jedné strany zasunout a z druhé zašroubovat. Provázek, který se občas na pin navazuje pro případ
                    upuštění se může při šroubování nepříjemně zamotat, takže spoustu lidí nechává pin neuvázaný a riskují tak jeho ztrátu.
                </div>
                <div class="col-md-4 col-lg-2">
                    <img src="/images/metodika/vybava/vybava_shackle_pin_screw.png" class="w-100 p-3">
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-10">
                    <b>Captive pin</b> - Narozdíl od klasických šroubovacích šeklů, které mají závit na jedné straně, tyto šekly mají závit v obou otvorech v těle šeklu.
                    To znamená, že je potřeba vyšroubovat pin pro jeho úplné vyndání. Tím eliminují katastrofický scénář upuštění pinu a znehodnocení šeklu.
                </div>
                <div class="col-md-4 col-lg-2">
                    <img src="/images/metodika/vybava/vybava_shackle_pin_captive.png" class="w-100 p-3">
                </div>
            </div>
        </li>

        <li>
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-10">
                    <b>Bolt pin</b> - Stejně jako Twist šekly, i tyto šekly jsou většinou k nalezení pouze u slacklinových pamětníků.
                    Jejich pin se závitem na konci je protažen až za tělo šeklu a zajištěn matkou. Jsou známy případy, kdy vibrace lajny
                    přes noc způsobili odšroubování a vypadnutí matky, takže pin držel na místě pouze tahem highliny.
                </div>
                <div class="col-md-4 col-lg-2">
                    <img src="/images/metodika/vybava/vybava_shackle_pin_bolt.png" class="w-100 p-3">
                </div>
            </div>
        </li>

        <li>
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-10">
                    <b>Quick / Push pin</b> - Tyto šekly byly navrženy přímo pro potřeby slacklinerů. Namísto závitů a matek použivají stejný systém,
                    jaký používají kotvítka - tedy zmáčknout a vytáhnout / zasunout.
                    Aktuálně jsou k dostání na některých slacklinových obchodech (Slacktivity, SlackFR).
                </div>
                <div class="col-md-4 col-lg-2">
                    <img src="/images/metodika/vybava/vybava_shackle_pin_quick.png" class="w-100 p-3">
                </div>
            </div>
        </li>
    </ul>


    <div class="row flex-column-reverse flex-md-row mb-4">
        <div class="col-md-4">
            <img src="/images/metodika/vybava/vybava_padding.png" class="w-100">
        </div>
        <div class="col-md-8">
            <h5 id="bandaze">Bandáže</h5>
            <p>
                Pravděpodobně nejdůležitější součást tvého vybavení, v závislosti na tom, kde taháš highliny.
                Tření na napnuté lajně ji dokáže poškodit velmi rychle (za méně než 5 vibrací při zátěži).
                Použít můžeš věci, které máš zrovna u sebe, zbytek lajny, batohy, ponožky…
                <br>
                Existují také bandáže určené přímo pro tento účel, Existují také bandáže určené přímo pro tento účel, pokud dáváš přednost utrácení před kreativitou!
            </p>
        </div>
    </div>


    <h5 id="povolovak" class="mt-4">Povolovák (Soft release)</h5>
    <p>
        Povolovák je nejčastější odpovědí na otázku “Jak dostaneme lajnu dolů?”. Některé společnosti prodávají popruhy s
        našitým okem, které je poměrně užitečné, nicméně jakýkoliv 4-5m popruh (nejlépe kluzký polyester) s vůdcovským uzlem bude dostatečný.
        Jakkoliv šíleně to může znít, jedná se o nejsilnější část celého systému, jelikož každá vrstva (otočka) přidává k celkové pevnosti.
        <br>
        <div class="row align-items-center">
            <div class="col-lg-8">
            5 otoček relativně slabé lajny (Feather od Balance Community - 20kN) se přetrhlo při 85kN.
            3,5 otočky lajny Parsec od Raed vydržely tah přes 100kN než se přetrhly.
            <br><br>
            Nejde však jen o pevnost, kterou nám více vrstev nabízí, nýbrž hlavně o tření. Proto přestože 4 vrstvy
            pravděpodobně stačí, doporučujeme použít 5, případně 6 vrstev (otoček). Při více otočkách dbej na to, aby vrstvy
            nesjížděly do strany, což může způsobit trochu zmatek. Přestože povolovák drží na základě tření, je důležité uvázat
            konce uzlem, aby nedošlo k rozvázání. Pokud se ti povolovák rozváže během pobytu na lajně, pak jsi idiot a snad máš
            backup připevněný přímo do kotvení, takže neumřeš a my si z tebe budeme moct dělat srandu.
            </div>
            <div class="col-lg-4">
                <img src="/images/metodika/vybava/vybava_softrelease.jpg" class="w-100">
            </div>
        </div>
        <br>
        Spoustu povolováků se prodává pro účely longliningu v různých délkách (12, 18m) které jsou pro highline naprosto zbytečné.
        Pro účely highline dokonale stačí 6m a pokud by bylo třeba povolovat lajnu dále, vždy můžeš navázat lano / repku.
    </p>


    <h5 id="mailony">Mailony (Quicklinks)</h5>

    <div class="row align-items-center">
        <div class="col-12 col-sm-8">
            <p>
                Mailony se stejně jako šekly vyrábějí v různých velikostech a tvarech. Nejčastěji se s nimi setkáme v oválném tvaru
                připomínajícím oka řetězu. Mezi slacklinery se těší velké oblibě díky své vysoké pevnosti. Hodí se pro spojování lan
                do plaket, spojování různých lan či dokonce spojování šitých ok různých segmentů lajn. Průměr mailony by měl být stejný
                nebo větší vůči lanu, které k němu chceš připojit. V opačném případě je poloměr ohybu moc velký a snižuje pevnost lana.
                Stejně jako karabiny, pokud mají otevřený zámek, jejich pevnost se drasticky snižuje. Mailony by měli být pevně zašroubovány
                klíčem a nikoli jen rukou, aby bylo dosaženo pevnosti potřebné pro highline. Pokud je dotažena pouze v ruce, může se vlivem
                cyklického zatížení uvolnit.
            </p>
        </div>
        <div class="col-12 col-sm-4 text-center">
            <img src="/images/metodika/vybava/vybava_quicklink.jpg" class="w-75">
        </div>
    </div>

    <h5 id="delta-mailony">Delta mailony</h5>
    <div class="row align-items-center">
        <div class="col-12 col-sm-8">
            <p>
                Příbuzní s výše zmiňovanými mailonamy, delta mailony (občas pouze delty) jsou mailony ve tvaru trojúhelníku.
                Bohužel přes svůj svádějící tvar nejsou určeny k tomu, aby byli příčně zatíženy. Jsou zamýšleny ke spojení malé
                části (na vrcholu trojúhelníku) s něčím širokým (na základně trojúhelníku) - tedy například plaketa na vrcholu a spanset na spodu trojúhelníku.
                Existují také mailony ve tvaru čtverce, které se občas používají ke spojení 2 spansetů či dokonce šitých ok,
                nicméně existují mnohem lepší způsoby, jak tohoto docílit.
                <br><br>
                Stejně jako klasické oválné mailony, i delty disponují poměrně vysokou pevností a stejně tak u nich musí být průměr
                větší nebo roven průměru lana, aby nedošlo ke ztrátě pevnosti. A nezapomeň je také pořádně zašroubovat!
            </p>
        </div>
        <div class="col-12 col-sm-3 offset-sm-1 text-center">
            <img src="/images/metodika/vybava/vybava_quicklink_delta.jpg" class="w-50">
        </div>
    </div>


    <div class="row align-items-center flex-column-reverse flex-lg-row mt-3">
        <div class="col-lg-4">
            <img src="/images/metodika/vybava/vybava_steel_carabiner.jpg" class="w-100">
        </div>
        <div class="col-lg-8">
            <h5 id="ocelove-karabiny" class="mt-2">Ocelové karabiny</h5>
            <p>
                Ocelové karabiny (slangově nazývané ocelky) nabízejí mnohem vyšší pevnost ve srovnání s jejích hliníkovými protějšky.
                Existují v zamykacích i nezamykacích verzích. Hlavním důvodem, proč jsou oblíbené při tahání highline je právě odolnost
                oceli na cyklickou zátěž. Ocel se také před prasknutím ohne, čímž dá jasně najevo poškození.
                <br><br>
                I když je jejich pevnost více než dostatečná, neznamená to, že je možné je příčně zatížit. Tyto karabiny jsou navrženy pouze
                k přímému zatížení podél nejdelší osy. Jo a jsou taky pěkně těžké!
            </p>
        </div>
    </div>


    <h5 id="kotvitko">Kotvítko</h5>
    <div class="row align-items-center">
        <div class="col-lg-8">
            <p>
                Kotvítko drží lajnu na místě, zatímco na ní působí tah. Za volný konec můžeš tahat, ale hlavní popruh neproklouzne.
                Lajna jde přes horní část kotvítka kolem příčníku (asi) k pinu, což vytváří tření, které ji drží na místě.
                Čím výše je pin umístěný, vzhledem k příčníku tím větší tření vzniká a tím těžší je také dobírání lajny v kotvítku.
                Naopak čím níže je pin vzhledem k příčníku, tím menší tření se zde vytváří a zvyšuje se šance, že lajna v kotvítku proklouzne.
                <br><br>
                Více o mechanice kotvítka se <a href="https://www.simplexitypd.com/blog/weblock-mechanical-analyses">můžeš dočíst zde</a>.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="/images/metodika/vybava/vybava_kotvitko_1.jpg" class="w-75">
        </div>
    </div>
    <div class="row align-items-center flex-column-reverse flex-md-row">
        <div class="col-lg-4">
            <img src="/images/metodika/vybava/vybava_kotvitko_2.jpg" class="w-100">
        </div>
        <div class="col-lg-8">
            <p>
                V každém kotvítku, pokud je lajna cyklicky zatížena, dojde k jejímu proklouznutí, proto je důležité uvazovat volné
                konce - čemuž se budeme věnovat v následujících kurzech.
                <br><br>
                Kotvítka mohou být vyrobena z oceli nebo hliníku - obojí je v pořádku, jelikož jejich pevnost je tak vysoká, že na
                ně nejsme schopni vyvinout dostatek síly, aby došlo k únavě materiálu. Skutečná rozmanitost se u kotvítek odehrává v
                zadní části konstrukce. Bočnice se mohou buď setkat v jednom bodě, nebo mohou jít paralelně a být spojeny pinem
                pro umístění povolováku přímo na kotvítko. Ačkoliv…
            </p>
        </div>
    </div>
    <p>
        Soft-release se umisťuje na statickou stranu highline. Pin v zadní části kotvítka působí dojmem, že právě
        tam má být soft-release umístěn, nicméně většina delších highline nemá na statické straně kotvítko. Pin v zadní části
        lze však použít např. k připojení přímo k hlavnímu bodu kotvení, např. u BFK, což eliminuje jeden spoj.
        <br><br>
        Kotvítka jsou také něco, čím se aktuálně zabývá ISA se svým <a href="https://www.slacklineinternational.org/safety-labels/" target="_blank">ISA Safety Label</a>.
        Můžeme tedy očekávat, že za nedlouho bude standardem u výrobců slackline vybavení mít svá kotvítka certifikovaná.
    </p>
</div>
<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6 text-md-start text-center p-3">
        <a href="/materialy" class="btn btn-primary">Zpět na: Materiály</a>
    </div>
    <div class="col-md-6 text-md-end text-center p-3">
        <a href="/uzly" class="btn btn-primary">Pokračuj na: Uzly</a>
    </div>
</div>
