<h2 class="text-center pt-4 pb-3">Highline guidebook</h2>
<p class="px-3">
    Série článků nabitých informacemi, obrázky, odkazy, studiemi a vším, co správného highline nadšence zajímá.<br>
    Začínáš s highline a chceš se dozvědět co nejvíc tipů do začátku, nejsi si jistý, jak připravit kotvení
    a co k tomu použít nebo tě zajímá fyzika za tím vším? Pak jsi tu správně. <br><br>
    Nikdo nikdy neumřel proto, že by znal příliš mnoho!
    <br>
</p>



<div class="container content-nav">
    <div class="row">
        <div class="col-md-4 p-3">
            <a href="/pouzivani-highline">
                <img class="w-100" src="/images/covers/pouzivani-hl.jpg" alt="Používání Highline" />
                <h3 class="mt-1">Používání HL</h3>
                <p>
                    Chystáš se na highline festival, nebo jsi pozvaný na projekt? Pak určitě nechceš strávit tu vzácnou příležitost
                    zkoušením a vymýšlením věcí, které sis mohl nacvičit doma / v parku.
                </p>

                <span class="text-secondary">Počet kapitol:</span>
                <span class="text-secondary float-end">6</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/kotveni-a-materialy">
                <img class="w-100" src="/images/covers/kotveni-hl.jpg" alt="Kotvení a materiály" />
                <h3 class="mt-1">Kotvení & Materiály</h3>
                <p>Jaké materiály používáme při budování kotvení, jaké síly na ně působí a co jim naopak vadí? Co je to master point?
                    To a mnohem více se dozvíš v následujících článcích.</p>

                <span class="text-secondary">Počet kapitol:</span>
                <span class="text-secondary float-end">8</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/napinani-highline">
                <img class="w-100" src="/images/covers/napinani-hl.jpg" alt="Napínání highline" />

                <h3 class="mt-1">Napínání highline</h3>
                <p>
                    Napínání HL může být jednoduché, ale může to být taky pořádná věda. Zaměříme se na jednotlivé prvky
                    napínání, jako je tejpování a spojování segmentů, přetahování a kotvení lajny a backup.
                </p>

                <span class="text-secondary">Počet kapitol:</span>
                <span class="text-secondary float-end">3</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/zachrana/isa">
                <img class="w-100" src="/images/covers/zachrana-z-hl.png" alt="Záchrana z highline" />

                <h3 class="mt-1">Záchrana z Highline</h3>
                <p>
                    Jak výtáhnout zraněného lajnera zpět ke kotvení a jaké vybavení k tomu budeš potřebovat se dozvíš v
                    přeložených materiálech ISA.
                </p>

                <span class="text-secondary">Počet kapitol:</span>
                <span class="text-secondary float-end">1</span>
            </a>
        </div>
    </div>
</div>
