<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kotvení & Materiály</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Kotvení & Materiály</h2>

<p class="px-4">
    Highlining je ze své podstaty nebezpečný sport a lidé při něm občas zemřou. Následující
    články ti nezaručí, že se nezraníš nebo nezemřeš. Jedná se spíše o sbírku know-how,
    které se obecně používají v highline komunitě.Dokud je zahrnut lidský faktor, chyby se budou stávat.
    A ačkoliv budujeme kotvení redundantní a naše vybavení má
    mnohem vyšší pevnost, než jaká na něj působí, stejně může dojít k selhání!
    <br><br>
    Co je to master point, jaké materiály používáme při budování kotvení, jaké síly na ně působí a mnohem více se dozvíš v následujících článcích.
</p>


<div class="container content-nav">
    <div class="row">
        <div class="col-sm-4 p-3">
            <a href="/materialy">
                <img class="w-100" alt="Materiály" src="/images/covers/kotveni-a-materialy-materialy.png" />
                <h3 class="mt-1">Materiály</h3>
                <p>Proč hliník nemůžeš dlouhodobě zatížit k jeho pevnostnímu limitu, proč se měkké materiály nesmí třít o jiné
                    měkké materiály, jak se chovat k dyneemě a vydrží ocel všechno?</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">10 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/vybava">
                <img class="w-100" alt="Výbava" src="/images/covers/kotveni-a-materialy-vybava.jpg" />
                <h3 class="mt-1">Výbava</h3>
                <p>Nejlepší volbou je pořídit si takové vybavení, které použiješ teď i v pozdějších fázích své highlinové cesty.
                    Kotvítka, lana, šekly... zjisti co vše se ti může hodit a jak to použít.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">25 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/uzly">
                <img class="w-100" alt="Uzly" src="/images/covers/kotveni-a-materialy-uzly.jpg" />

                <h3 class="mt-1">Uzly</h3>
                <p>
                    Osmička, devítka, liščí smyčka, sliding X nebo BFK.
                    Nauč se, jaké uzly se kdy hodí a pamatuj, že u každého uzlu můžeš očekávat snížení pevnosti přibližně o 50%.
                </p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">7 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/kotveni">
                <img class="w-100" alt="Kotvení" src="/images/covers/kotveni-a-materialy-kotveni.jpg" />

                <h3 class="mt-1">Kotvení</h3>
                <p>Redundance, ostrý úhel, tření, vyvážení a prodloužení... Základní pravidla pro budování bezpečného kotvení.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">15 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/prirodni-kotveni">
                <img class="w-100" alt="Přírodní kotvení" src="/images/covers/kotveni-a-materialy-prirodni-kotveni.jpg" />

                <h3 class="mt-1">Přírodní kotvení</h3>
                <p>Natáhnout, pochodit, sbalit, odejít... a nenechat po sobě ve skalách stopy ve formě děr a nýtů.
                    Zjisti užitečné tipy o přírodním kotvení.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">10 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/master-point">
                <img class="w-100" alt="Master point" src="/images/covers/kotveni-a-materialy-master-point.jpg" />

                <h3 class="mt-1">Master point</h3>
                <p>Právě jsi ve svém kotvení vyrobil tutové oko a přemýšlíš, co do něj cvaknout? A víš, proč není dobré používat v kotvení karabiny?</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">6 minut</span>
            </a>
        </div>

        <div class="col-sm-4 p-3">
            <a href="/a-frames">
                <img class="w-100" alt="A-Frame" src="/images/covers/kotveni-a-materialy-aframe.jpg" />

                <h3 class="mt-1">A Frames</h3>
                <p>Co je to A Frame, k čemu a kdy ho použít, jaké typy konstrukcí existují a jak si vyrobit vlastní? Nahlédni do krátké sekce o A Framech.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">7 minut</span>
            </a>
        </div>

        <div class="col-sm-4 p-3">
            <a href="/kilonewtony">
                <img class="w-100" alt="Kilonewtony" src="/images/covers/kotveni-a-materialy-kilonewtony.jpg" />

                <h3 class="mt-1">Kilonewtony</h3>
                <p>Kilonewtony, MBS, WLL a jak pevný je vlastně spanset? Zjisti něco víc o silách, které na kotvení působí.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">5 minut</span>
            </a>
        </div>
    </div>
</div>
