<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kotvení & Materiály</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Napínaní highline</h2>

<p class="px-4">
    Napínání HL může být jednoduché, ale může to být taky pořádná věda. Highlining je relativné mladý sport a postupy,
    jak se highline napínají se s přibývajícími zkušenostmi stále zdokonalují. Zaměříme se na jednotlivé prvky
    napínání, jako je tejpování a spojování segmentů, přetahování a kotvení lajny a backup.
</p>


<div class="container content-nav">
    <div class="row">
        <div class="col-sm-4 p-3">
            <a href="/priprava-lajny">
                <img class="w-100" src="/images/covers/napinani-hl.jpg">
                <h3 class="mt-1">Příprava</h3>
                <p>
                    Podíváme se na backup, tejpování a spojování segmentů. Prostě to, co jsi mohl udělat doma!
                </p>
                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">5 minut</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/budovani-kotveni">
                <img class="w-100" src="/images/covers/napinani-hl-kotveni.jpg">
                <h3 class="mt-1">Budování kotvení</h3>
                <p>
                    Spansety, lano, mailony, karabiny, kotvítka... všechno
                    to vysyp z batohu a jdeme dělat kotvení.
                </p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">3 minuty</span>
            </a>
        </div>
        <div class="col-sm-4 p-3">
            <a href="/napinani">
                <img class="w-100" src="/images/covers/napinani-hl-napinani.jpg">
                <h3 class="mt-1">Napínání</h3>
                <p>
                    Podívej se na pár tipů a triků, které ti mohou pomoc při přetahování a sundavání lajny.
                </p>
                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">6 minut</span>
            </a>
        </div>
    </div>
</div>
