<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item active" aria-current="page">Poděkování</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Poděkování</h2>

<div class="px-3 text-center">
    <p>
    Rád bych tímto poděkoval všem, kteří dali možnost vzniknout tomuto projektu, nebo se na jeho vzniku přímo podíleli.<br>
    Za všemi informacemi, které zde prezentuji stojí hodiny a hodiny strávené při pokusech a testování materiálů a vybavení.
    <br>Nic z toho by nebylo možné bez usilovné práce:
    </p>
    
        <a href="https://www.hownot2.com/" target="_blank">HowNot2</a><br>
        <a href="https://www.balancecommunity.com/blogs/slack-science" target="_blank">Balancecommunity - Slack science</a><br>
        <a href="https://slacktivity.com/blog/know-how/" target="_blank">Slacktivity</a><br>
        <a href="https://aki-slacklines.de/en/blog/" target="_blank">Aki Slacklines</a><br>
        <a href="https://data.slacklineinternational.org/" target="_blank">ISA</a><br>
        a dalších jednotlivců přispívajících svými znalostmi k zdokonalení bezpečnostích standardů<br>
    <br>
    <p>
        Zvláštní poděkování patří:<br><br>
            Kwětákovi a Aničce za čas strávený při konzultaci a opravách v textech<br>
            Ryanovi za poskytnutí testovacích dat, obrázků pro web a konzultací<br>
            ISA za konzultace a poskytnutí materiálů k záchraně<br>
            Balancecommunity a EQB za možnost využít obrázky na webu<br>
            Elišce Stodolové za jazykovou korekturu<br>
            Jakubovi Dostálovi za pomoc s propagací<br>
            Petrovi Panoškovi za technickou pomoc<br>
    </p>
</div>
