<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item active" aria-current="page">Používání highline</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Používání highline</h2>

<p class="px-4">
    Chystáš se na highline festival, nebo jsi pozvaný na projekt? Pak určitě nechceš strávit tu vzácnou příležitost
    zkoušením a vymýšlením věcí, které sis mohl nacvičit doma / v parku. Souhlasíš? Tak se na to pojďme podívat!
</p>

<div class="container content-nav">
    <div class="row">
        <div class="col-md-4 p-3">
            <a href="/priprava">
               <img class="w-100 border" src="/images/covers/pouzivani-hl-priprava.png" alt="Příprava">
                <h3 class="mt-1">Příprava</h3>
                <p>Sedáky, uzly, vylézání z odsedky, nasedání na lajnu, kladečkování, padání, batoh a mnoho dalšího! Zjisti, jak se připravit na highline.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">4 minuty</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/bezpecnost">
                <img class="w-100 border" src="/images/covers/pouzivani-hl-bezpecnost.png" alt="Bezpečnost">
                <h3 class="mt-1">Bezpečnost</h3>
                <p>Highlining může být velmi bezpečnou cestou do světa extrémních sportů. Nauč se jak udržet sebe a ostatní v bezpečí.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">5 minuty</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/vybaveni">
                <img class="w-100 border" src="/images/covers/pouzivani-hl-vybaveni.png" alt="Vybavení">
                <h3 class="mt-1">Vybavení</h3>
                <p>Odsedka, sedák, karabiny, kladečky a mnoho dalšího... Znáš své vybavení opravdu dobře? Nahoře se ti to bude hodit. </p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">3 minuty</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/etika">
                <img class="w-100 border" src="/images/covers/pouzivani-hl-etika.png" alt="Vybavení">
                <h3 class="mt-1">Etika</h3>
                <p>Ne každá chyba tě bude stát život, ale některé tě mohou stát kamarády! Zjisti, jak se chovat k vybavení, přírodě a lidem kolem sebe.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">3 minuty</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/co-delat-na-hl">
                <img class="w-100 border" src="/images/metodika/pouzivani-hl/highline_knot.jpg" alt="Co dělat na hl">
                <h3 class="mt-1">Co (ne)dělat na highline</h3>
                <p>Jak kladečkovat po lajně, jak se navázat, kde mít odsedku a jak padat. To vše a mnohem víc se dozvíš v této kapitole.</p>

                <span class="text-secondary">Doba čtení:</span>
                <span class="text-secondary float-end">5 minut</span>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="/slovnik">
                <img class="w-100 border" src="/images/covers/pouzivani-hl-slovnik.png" alt="Slovník">

                <h3 class="mt-1">Slovník pojmů</h3>
                <p>"Už jsi poslal lajnu na onsight?" Nauč se pár základních pojmů, které slacklineři používají.</p>
            </a>
        </div>
    </div>
</div>
