<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/napinani-highline">Napínaní highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Budování kotvení</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Budování kotvení</h2>

<div class="px-3">
    <div class="row">
        <div class="col-md-8">
            <h3>Spansety</h3>
            <p>
                Pokud ke kotvení použijeme spansety, většinou chceme vybudovat kotvení pomocí sliding X.
                Při vázání si dej pozor na to, abys držel prameny spansetu nepřekroucené, pomůže to vyvažování, které
                ani tak při použití spansetu nebude dokonalé. Více o tom, jak úvazat sliding X se dočteš v
                <a href="/uzly" target="_blank">této kapitole</a>.
                <br><br>
                Při vázání si dej pozor, aby ti z každého nýtu vedly právě 2 prameny směrem k master pointu. V opačném případě se budou síly působící na nýt skládat,
                místo aby se rozkládaly. Pokud tě zajímá více, podívej se na toto
                <a href="https://www.youtube.com/watch?v=7sQNpjnJe40" target="_blank">video o American Death Triangle</a> (EN).
            </p>
            <h3>Statické lano</h3>
            <p>
                Statické lano se dá použít k vybudování kotvení. Při uvázání sliding x se oproti spansetu lépe vyvažuje.
                Zároveň je možné uvázat BFK (Big Fucking Knot), který nevyžaduje dodatečné whoopie smyčky k zabránění šokovému zatížení při selhání nýtu.
                <br><br>
                Při vázání si dej pozor, aby ti z každého nýtu vedly právě 2 prameny směrem k master pointu. V opačném případě se budou síly působící na nýt skládat,
                místo aby se rozkládaly. Pokud tě zajímá více, podívej se na toto
                <a href="https://www.youtube.com/watch?v=7sQNpjnJe40" target="_blank">video o American Death Triangle</a> (EN).
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/budovani-kotveni/sliding-x.jpg" class="w-75" alt="Sliding X">
        </div>
    </div>
    <h3>Spojovací prvky</h3>
    <p>
        Jako spojovací prvky můžeš použít oválné / delta mailony či ocelové karabiny. Nikdy ke spojování nepoužívej hliníkové karabiny!
        Pokud ti není jasné proč, přečti si článek o <a href="/materialy">materiálech a cyklickém zatížení</a>. Vhodné nejsou ani softšekly
        napojené přímo do plakety (možnost poškození o ostrou hranu).
        <br><br>
        Borháky se dají protáhnout lanem / spansetem bez nutnosti spojovacího prvku.
    </p>

    <b>Oválná mailona</b>
    <p>
        10mm oválná mailona s pevností mezi 35kN a 50kN a hmotnost přibližně 150g je solidní volbou.
        Dostatečně pevná by byla 8mm (s pevností ~25-40kN), avšak malá velikost může při použití spansetů způsobit špatné vyvažování
        kotvení (obyvláště při použití spansetu). Při kotvení za spansety je lepší volbou použít delta mailony.
        Pokud máš však pouze oválné, sáhni po 10mm nebo 12mm.
        <br><br>
        Mailonu je potřeba dotáhnout klíčem, aby se vlivem vibrací neuvolnila. Otevřená mailona ztrácí většinu své pevnosti.
    </p>

    <b>Delta mailona</b>
    <p>
        Delta mailona řeší problém s vyvažováním při kotvení za spansety (né uplně, abychom byli přesní).
        Větší plocha dovoluje spansetu lépe prokluzovat a tím lépe vyvažovat kotvení, než u oválných mailon.
        Delty bývají z pravidla těžší a nabízí stejnou pevnost jako oválné mailony. Stejně jako oválné mailony je třeba je
        dotáhnout, aby se neotevřeli.
    </p>

    <b>Ocelové karabiny</b>
    <p>
        Ocelové karabiny se dají použít ke spojení plakety a spansetu / lana.
        Za cenu vyšší hmotnosti nabízí podobnou pevnost v tahu jako mailony a trochu pohodlnější zacházení.
        Je si však třeba dát pozor, aby se karabina nezpříčila a aby se spanset při zakládání nedostal do zámku karabiny a ta
        tak nezůstala otevřená.
        <br><br>
        Stejně jako mailony i karabiny drasticky ztrácí pevnost, pokud jsou otevřené.
    </p>

    <h3>Kotvítko</h3>
    <p>
        Předpokládám, že znáš z parku způsob, jakým zakládat lajnu do kotvítka. Při kotvení HL se však můžeš setkat s tím,
        že backup i main budeš zakládat do kotvítka (protože vázat uzel na backupu
        <a href="https://fb.watch/9PkvB8uehm/" target="_blank">nemusí mít každý v oblibě</a>).
        <br><br>
        V takovém případě kotvítko pro hlavní lajnu otočíš vzhůru nohama. Je dobré také jedno z kotvítek posunout o kousek
        dopředu / dozadu tak, aby kotvítka při pohybu nenarážela do sebe.
        <br><br>
        Jak toto provést se můžeš dozvědět v <a href="https://www.youtube.com/watch?v=J2rlQrjs5jE">následujícím videu</a> (EN).
    </p>

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/priprava-lajny" class="btn btn-primary">Zpět na: Příprava</a>
        </div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/napinani" class="btn btn-primary">Pokračuj na: Napínání</a>
        </div>
    </div>

</div>
