<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/napinani-highline">Napínaní highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Napínání</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Napínání</h2>

<div class="px-3">
    <h3>Přetahování</h3>
    Lajnu chceme dostat z jedné strany kotvení na druhé bez toho, aby se třela o terén pod ní. K tomu používáme repku.
    To, jakým způsobem přetáhneš repku závisí na terénu a dalších vnějších faktorech.
    Jedním ze způsobů je shodit repku z obou stran kotvení a spojit je dohromady.
    Pokud je však terén pod lajnou těžce přístupný, přichází na řadu dron a tvoje kreativita.
    <br><br>
    <ul>
        <li>
            <b>Vlasec</b>
            <p>
                Vlasec se hodí pro svou nízkou váhu a dostatečnou pevnost k přetažení tenkého lana nebo repky.
                Právě díky své nízké váze je často využíván pro přetahování za použití dronu. Práce s ním může být ale trochu nepříjemná.
            </p>
        </li>
        <li>
            <b>Polypropylenové lano</b>
            <p>
                Lana z polypropylenu jsou velmi dostupná. Nejsou moc odolná ani skladná, jsou relativně kluzká, takže uzly
                pod tahem mohou prokluzovat a nedisponují ani vysokou pevností. Na durhou stranu váha a cena z nich delají
                ideální kandidáty pro přetahování. Pevnost se odvijí od průměru. Při práci s menším průměrem lana (kolem 4mm)
                je dobré používat rukavice.
            </p>
        </li>
        <li>
            <b>Lezecké lano</b>
            <p>
                Ať už lezecké nebo statické lano můžeš použít k přetahování. Pokud ho však s sebou nemáš z důvodu lezení, je
                nepraktické tahat ho jen kvůli přetahování. Pokud bys chtěl používat kladečku s brzdou k přetahování, mysli na to, že
                většina z nich nefunguje při průměru lana pod 8mm.
            </p>
        </li>
    </ul>
    <b>Tipy pro přetahování:</b>
    <ul>
        <li>Udržuj repku / lano pro přetahování při manipulaci tak, aby nedošlo k zamotání.
            To poslední co chceš je rozmotávat uzel při přetahování. </li>
        <li>Při házení repky ze skály buď zajištěný!</li>
        <li>Měj na paměti, jaká je pevnost repky a jakou silou na ní můžeš působit.</li>
        <li>Při práci s tenkými repkami a obzvláště s těmi polypropylenovými je vhodné používat rukavice.</li>
        <li>U delších lajn je vhodné použít kladku s brzdou (pozor, brzdy většinou fungují až od určitého průměru lana)</li>
    </ul>

    <h3>Nezapomeň na odsedku</h3>
    <div class="row">
        <div class="col-md-6">
            <b>Zakotvení lajny</b>
            <p>
                Při přetahování lajny je třeba dávat pozor, aby se lajna nekroutila a nebylo na ní zbytečně moc překrutů - tzv. držet rovinu.
                Ideálním případem je dokonalé rovná lajna, v praxi však jedna až dvě otočky neznamenají žádný zásadní problém.
                Do kotvítka ji založíš tak, jak jsi zvyklý z parku. Pokud je vás u kotvení více, popros někoho, aby ti podržel lajnu
                (ozvláště na delších lajnách můžou jen samotné lajny vážit přes 15 kilo) zatímco budeš zakotvovat.
                A nezapomeň u toho na kruhy!
            </p>
            <b>Prokluzování lajny</b>
            <p>
                Dnešní kotvítka nejsou dokonalá. Jsou velmi dobrá v zachování pevnosti lajny (lepší než jakýkoliv uzel), avšak
                lajna v nich může (obzvláště pokud je pod velmi malým tahem) prokluzovat. Více o mechanice
                prokluzu v <a href="https://www.slacklineinternational.org/2018/05/webbing-slippage-warning-in-weblocks/" target="_blank">reportu ISA</a> (EN).
                <br><br>
                Nejlepším řešením, které máme k dispozici je uvázat lajnu za kotvítkem. Při vázání mysli na to, že se uzel může
                dostat pod tah a že ho budeš muset poté rozvázat. Na to jak uvázat lajnu, aby neprokluzovala v kotvítku, se můžeš podívat v
                <a href="https://www.balancecommunity.com/blogs/slack-science/weblock-tail-tie-offs-importance-why-theyre-needed-and-how-to-do-them#step1" target="_blank">
                    článku od Balance Community</a>
                (EN).
            </p>

        </div>
        <div class="col-md-6">
            <img src="/images/metodika/napinani-hl/weblock.jpg" class="w-100" alt="Weblock">
        </div>
    </div>

    <h3>Sundavání</h3>
    <p>
        Pro sundavání lajny jsme připravili povolovák. Nyní je na čase ho rozvázat a poslat lajnu zpět stejným způsobem, jako jsme ji přetáhli při napínaní.
        V přechozích kapitolách už jsme si říkali, že povolovák se většinou dává na statickou stranu. Je to z toho důvodu, že lajna se ve většině případů
        posílá zpět právě z této (statické) strany. Ty tak můžeš navázat repku (kterou jsi po vytažení nechal u statické strany kotvení) na konec lajny a začít
        pomalu povolovat lajnu. Jakmile již v lajně není tah (nebo ti dojde povolovák), můžeš pokračovat v odvíjení repky a přetahování lajny.
        <br><br>
        Pokud bys měl povolovák na druhé straně, je potřeba povolit lajnu natolik, abys měl prostor na vykotvení na statické straně.
        Budeš tedy posílat lajnu ke statické straně, abys ji pak tahal zpět. Také bys po celou dobu potřebnou k vykotvení držel plnou váhu lajny v ruce.
    </p>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 text-md-start text-center p-3">
            <a href="/budovani-kotveni" class="btn btn-primary">Zpět na: Budování kotvení</a>
        </div>
    </div>

</div>
