<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Přehled</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="/napinani-highline">Napínaní highline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Příprava</li>
    </ol>
</nav>

<h2 class="text-center pt-4 pb-3">Příprava</h2>

<div class="px-3">
    <h3>Tejpování lajny</h3>
    <p>
        Jak sis určitě všiml, při highline používáme 2 lajny - main a backup. K tomu, jak spojovat main a backup k sobě
        existuje na internetu spoustu materiálů. Proč ale potřebujeme lajny spojovat k sobě?
    </p>
    <b>Roztejpovaná lajna</b>
    <p>
        Málokdo ví o tom, že pokud se highlina kompletně roztejpuje, stáva se nebezpečnou. Lajny začnou ve větru
        oscilovat (většinou k roztejpování lajny dojde právě vlivem silného větru) tak prudce, že se o sebe mohou poškodit.
    </p>
    <b>Metody</b>
    <p>
        Pravděpodobně si se setkal s metodou "sliding backup", kdy backup volně prokluzuje tejpou. <br>
        Postup je popsaný v <a href="https://www.youtube.com/watch?v=4MRoBEHN2mk" target="_blank">tomto videu</a> (EN).
        <br><br>
        Jinde ve světě se občas setkáš s metodou "sliding main", kdy tejpa klouže po hlavní lajně a na backupu je napevno. <br>
        Srovnání různých metod tejpování včetně jejich výhod najdeš
        <a href="https://www.balancecommunity.com/blogs/slack-science/the-different-taping-methods-for-highlines" target="_blank">
            v článku od Balance community</a>.
        <br><br>
        Vzdálenost mezi jednotlivými oky závisí na délce lajny. U kratších lajn cca 2-4 metry, u delších lajn (200m+) stačí vzdálenosti 5-10m.<br>
        Za zmínku stojí, že nepravidelné vzdálenosti mezi oky pomáhají absorbovat nepříjemné vibrace lajny.
    </p>

    <div class="row">
        <div class="col-md-2">
            <img src="/images/metodika/priprava-hl/tapes.jpg" class="w-100" alt="Tapes"/>
        </div>
        <div class="col-md-10">
            <b>Tejpování segmentů</b>
            <p>
                Při spojování segmentů je potřeba zatejpovat jak softšekl / mailonu, kterou segment spojuješ, tak přitejpovat main i backup k sobě.<br>
                To proto, aby kruhy při přecházení proklouzli co nejsnadněji. Zároveň tím chráníš spoj proti pohybu.
            </p>

            <b>Čím tejpovat?</b>
            <p>
                Na výběr máš z několika možností, od klasické elektrikářské pásky, přes duct tape až po lezecké tejpy.<br>
                Při výběru zvaž jejich pevnost a také množství lepidla, které zanechají na lajně.
            </p>
        </div>
    </div>
    <br><br>
    <h3>Spojování segmentů</h3>
    <p>
        Spojované lajny se v poslední době těší čím dál větší oblibě. Hlavně s většími a náročnějšími projekty přichází řada výhod.
        U delších lajn se snižuje délku pádu při selhání, umožňuje ti skládat gear v komunitě a tahat delší highlony bez nutnosti kupovat dlouhý kus lajny v kuse.
        <br>
        Takhle ti stačí k napnutí 250m dlouhé lajny tři 80m segmenty. A pokud máš 2 kamarády, stačí aby si každý pořídil 80m kus.
        Pro spojení jednotlivých segmentů se nejčastěji používají mailony nebo softšekly.
        <br><br>
        Existuje několik způsobů spojení segmentů - každý z nich však vyžaduje, aby na hlavní lajně i backupy byly našitá oka.
        Lajny se nejčastěji spojují softšeklem nebo oválnou mailonou. Softšekly je potřeba zatejpovat, aby nedošlo k jejich pohybu / rozpojení
        při přetahování.
    </p>


    <b>Metody:</b>
    <br><br>
    <div class="row">
        <div class="col-md-8">
            <b>1) Inov split (Slack Inov)</b><br>
            <p>
                Pravděpodobně nejpoužívanější metoda pro spojování segmentů. Hlavní lajna je spojena softšeklem, provlečeným do sebe do tvaru osmičky.
                Backupy jsou pak spojeny spojovacím prvkem (mailonou nebo softšeklem) přes toto překřížení - viz obrázek.
                Toto zapojení je redundantní, vyžaduje pouze 2 spojovací prvky (2 softšekly nebo softšekl a mailonu)
                a nevyžaduje na lajnu našívat žádné další prvky (jako u T-Loop nebo Double loops metody).
                Přes takový spoj navíc proklouzne kruh relativně lehce.
                <br><br>
                Při použití stejně dlouhých segmentů je vhodné na jedné straně použít extender (kus lajny nebo dyneemy) pro backup.
                <br><br>
                Více se dozvíš v <a href="https://youtu.be/1eD5uulEiN0" target="_blank">tomto videu</a> (EN).
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/metodika/priprava-hl/inov-split.jpg" class="w-100">
        </div>
        <div class="col-md-12">
            Jednou z nevýhod Inov Split je, že pokud selže softšekl (ano, připusťme si, že se to může stát) na hlavní lajně, pak selže
            celé zapojení. S lehkou úpravou a za použití delšího softšeklu je možné využít oka na
            koncích lajn a propojit všecny 4 oka jedním softšeklem mezi sebou. Obzvláště při použítí
            <a href="https://www.youtube.com/watch?v=MpqEyapk-dE">4 nebo 5mm softšeklů</a> se hlavní lajny dostávají velmi blízko k sobě,
            takže nebudeš mít po zatejpování problém přejít i s malým rozměrem kruhu. Nabízí také o trohu větší redundanci, než klasické slack inov zapojení.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <b>2) Double loops (Slacktivity type A)</b>
            <p>Poměrně jednoduchý způsob jak spojit 2 segmenty k sobě. Vyžaduje našitý kus lajny s okem na hlavní lajně, do kterého se zapojí backup z dalšího
                segmentu. Je možné také spojit backupy k sobě, nicméně je potřeba více spojovacího materiálu (mailona, softšekl) a navíc je tato varianta
                poměrně složitá na správné zatejpování a může být problém přes spoj přejít s menším kruhem.
                <br><br>
                Výhodou je, že k této metodě stačí malý odřezek lajny, přičemž se prošívají se pouze 2 vrstvy lajny, což pro
                většinu prodejců slacklinového vybavení není problém, navíc to nebude příliš drahé.
            </p>

            <b>3) T-Loop (Slacktivity type B)</b><br>
            <p>T-Loop je méně používaná metoda, která dovoluje spojovat jednotlivé segmenty  hlavní lajny nezávisle na backupu.
                Nevýhodou je jednak nutnost našít T-Loopy (aktuálně dodává pouze Slacktivity), nižší pevnost (~11kN) a také větší velikost po zatejpování,
                než např. u Inov Split. Pokud však již vlastníš dlouhý kus lajny a je ti líto ho rozřezat, můžou být T-Loopy řešením
            </p>
        </div>
        <div class="col-md-12">
            <img src="/images/metodika/priprava-hl/type-a-b-c.jpg" class="w-100">
        </div>
        <div class="col-md-12">
            <b>4) Sewn backup (Slacktivity type C)</b><br>
            <p>Backup prošitý do mainu je zajímavý myšlenka, ovšem v praxi neobstává tak, jak se na první pohled zdá.
                Main a backup je potřeba koupit sešitý v kuse, což může být samo o sobě nevýhodou. Dalším problémem,
                na který majitelé takového setupu naráží je nemožnost upravovat délku backupu v systému, což může
                například při bouncování na velmi naplé lajně vyústit k napínání backupu.
            </p>
        </div>
    </div>
    <div class="row flex-md-row flex-column-reverse align-items-center">
        <div class="col-md-4">
            <img src="/images/metodika/priprava-hl/dura-la-vida.jpg" class="w-100">
        </div>
        <div class="col-md-8">
            <b>5) Dura LaVida loop</b>
            <p>
                Dura la vida vyžaduje na každé straně hlavní lajny našité "oko" před koncem lajny, do kterého se následně
                zapojí backupy z obou segmentů. Takto našité oko bude mít oproti T-Loopu mnohem větší pevnost, což eliminuje
                hlavní problém T-Loop metody. Nicméně vyžaduje sešít lajnu na 6 různých místech, což může být poměrně nákladné.
                Taktéž jsou potřeba 2 spojovací prvky pro backup, namísto jednoho jako u InovSplit metody.
            </p>
        </div>
    </div>
    <br>
    Pokud tě zajímá více o spojování segmentů, podívej se na <a href="https://www.youtube.com/watch?v=gkNP5AMh5HU" target="_blank">video</a> (EN)
    věnované právě tomuto tématu.

    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-md-end text-center p-3">
            <a href="/budovani-kotveni" class="btn btn-primary">Pokračuj na: Budování kotvení</a>
        </div>
    </div>

</div>
